[2019-09-29 23:42] nabarunaguha opened #1 "Unstable Output"
* Python version: 3.7.3
* TensorFlow version: 1.14.0

Hi! I am intrigued to work with CTGAN as the purpose of CTGAN exactly matches my goal.

My Dataset has 1846 columns (All continuous) with each column following different distribution and also exhibiting correlations among each other.

I want to expand my dataset (3000 -> 20,000+ samples) so that the new generated dataset follows the same distri

[2019-11-06 15:58] kevinykuo opened #3 "Min/max in metadata not used"
Is the min/max info supposed to be used anywhere? https://github.com/DAI-Lab/CTGAN/blob/7aa29685045ffdba84bd87432354c133e05699e6/ctgan/ctgan_model.py#L59-L60

[2019-11-06 16:39] leix28 commented on #3
Min/max info is not used in our model. Continuous columns are preprocessed by Variational Gaussian Mixture (VGM) instead of min-max normalization. VGM can automatically adapt to columns with different range and distribution. So the min/max info is not necessary.

The generated synthetic data usually fits in the min-max range. But it's also possible to use min-max info to post-process generated dat

[2019-11-06 16:45] kevinykuo opened #4 "Consider initiating generator with synthesizer"
Not too familiar with pytorch so let me know if this makes sense...

It seems like we're instantiating the model each time `fit()` is called https://github.com/DAI-Lab/CTGAN/blob/7aa29685045ffdba84bd87432354c133e05699e6/ctgan/ctgan_model.py#L458-L465
Would it make sense to do this once when we instantiate `CTGANSynthesizer` so we can e.g. look at the behavior of generated data as we train for more

[2019-11-06 16:48] kevinykuo opened #5 "Consider moving training related parameters to `fit()`"
Things like weight decay, batch size, and epochs may better belong in the `fit` method.
https://github.com/DAI-Lab/CTGAN/blob/94ac76b3ff4dae827eb626abe65923150633e359/ctgan/ctgan_model.py#L426-L432

[2019-11-14 05:25] kevinykuo opened #7 "Gaussian mixture params/training sample size"
Any tips on optimizing performance/training time for the Bayesian Gaussian mixture training phase? Could we consider exposing the parameters and perhaps include sampling the training set? This piece doesn't seem to scale well to bigger datasets.

[2019-11-26 15:31] Baukebrenninkmeijer commented on #5
@kevinykuo I second this. No reason for training parameters to be in a different section that the model initialization with said parameters.

[2019-11-26 15:32] Baukebrenninkmeijer commented on #4
Both have advantages. With the parameters in fit, you can more easily change out the training parameters and try different things. But your point is very valid as well.

[2019-11-26 15:48] Baukebrenninkmeijer opened #8 "Gaussian approximation of continuous variables really clear in non-gaussian/non-multimodal data"
In column where the continuous data is distributed in a really non-gaussian approximable way (e.g. Dates that increase in frequency) and follow a line are not well approximated with the GMM. I've not used the BGMT that much, because it is much slower, but if this does not occur there, please correct me. However, using a GMM, the following pattern occurs. The plots show the cumulative distribution.

[2019-11-26 16:25] csala commented on #5
Thanks for the suggestion, @kevinykuo , but I'm afraid I disagree with this.

The rationale behind the parameter organization is:
* `__init__` arguments specify "how" this instance is going to behave, i.e. "how" this model will learn.
* `fit` arguments specify "on which data".

The only argument that could be moved to the `fit` method is `epochs`, and only the code is changed so the creation of th

[2019-11-26 16:43] csala commented on #4
I like the idea behind your suggestion, @kevinykuo , of moving the `epochs` argument to the `fit`method and allowing one to resume a previous fitting process (see https://github.com/DAI-Lab/CTGAN/issues/5#issuecomment-558707986).

However, doing this is a bit more complex than it looks, because the Generator instance needs to be passed the `data_dim` argument, which is deduced from the data that i

[2019-11-26 17:14] kevinykuo commented on #5
Thanks @csala! I think your comments make sense. A couple of use cases (neither of which hits me currently) that may benefit from moving `batch_size` are 1) one may want to continue training a model on a different machine that doesn't enough GPU memory to support the batch size specified and 2) adaptive batch sizes. This is pretty minor though, so no hearts be broken by a wontfix :)

[2019-11-26 17:18] kevinykuo commented on #4
Got it, sounds like there a couple ways to proceed, dictated by what you think a "model" represents, i.e., if it should be identified with the metadata of a dataset.
1. (The option you mention above) Instantiate the generator at the first `fit` call and cache it.
2. Require the user to pass some sort of metadata or a sample dataset at model instantiation.

[2019-12-02 16:44] leix28 commented on #8
Hi, I'm not sure if I understand your plots correctly. Are these plots about the cumulative distribution for synthetic data (generated by GAN) and real (training) data?

[2019-12-02 21:58] Baukebrenninkmeijer commented on #8
Both, orange is synthetic, blue is real. I'll upload some more clear plots tomorrow.

[2019-12-03 14:06] Baukebrenninkmeijer commented on #8
This is a bit clearer with a distribution plot. For all plots: blue is real data of one column, orange is fake data of the same column. The fake data in this plot was generated with CTGAN.

![image](https://user-images.githubusercontent.com/9077462/70057282-29b67300-15dd-11ea-9eb4-7c9daaeda666.png)

For example, this was from data generated with **TGAN**:

![image](https://user-images.githubuserco

[2019-12-04 23:04] williamjduhe opened #9 "Implement model_dir parameter use"
* CTGAN version: stable
* Python version: 3.7.5
* Operating System: Ubuntu 18.04

### Description

When specifying the model_dir parameter - no model is saved. This is because the parameter is never checked for  within the CLI to perform a save operation. Pretty straight forward fix to write a method to accomplish this when you run the CLI with the param. I think I will try and create a MR this we

[2019-12-05 13:00] csala commented on #9
Hi @williamjduhe thanks for highlighting this!

Regarding the PR, that would be awesome! However, this week we are precisely working on a code reorganization that will, among other things, change the CLI interface.

So, maybe it would be better if you wait until these changes are in?

[2019-12-05 13:12] csala opened #10 "Reorganize the project structure"
A few changes can be made to improve the overall code maintainability:

* Modularize the code, separating code dedicated to specific topics on different modules.
* Split some parts of the code in smaller, single purpose methods.
* Rename the `Cond` class to `ConditionalGenerator`.
* Make `random_choice_prob_index` a method of the `ConditionalGenerator` class.
* Make `calc_gradient_penalty` a metho

[2019-12-05 13:12] csala commented on #9
These changes will be implemented in #10

[2019-12-09 12:21] csala commented on #10
@williamjduhe this should be done and released sometime during this week

[2019-12-09 17:08] kevinykuo opened #11 "Link to R package"
I put together an R package to help broaden the reach of y'all's excellent work at https://github.com/kasaai/ctgan, which also powers a short (insurance) industry-specific application paper. Wanted to see if you'd like to link to the package in the `README` for the useRs that stumble upon the repo :)

@leix28 @csala

[2019-12-18 17:22] #5 closed

[2019-12-18 17:22] #10 closed

[2019-12-18 19:53] csala commented on #9
At the end issue #10 was closed without this change, so this will go into the next release.

[2019-12-19 19:01] csala commented on #11
Great contribution @kevinykuo !

I was just reviewing your project before adding the link to the README and noticed that you are using an old version of the code.

Yesterday we released a new version, with a cleaner Python API and broader support for discrete variables, so I think it would be better if you replaced the current installation and the code copy with a simple `ctgan==0.2.0` install fro

[2019-12-19 19:14] csala commented on #7
@kevinykuo I totally agree on exposing as many hyperparameters as possible, but I have some doubts about the subsampling, since this is something that could be easily done by the user outside of CTGAN.

Would you mind editing the issue title and description to make this one focus only on the GM Hyperparams, so we can start working on it right away, and opening another one to discuss the subsamplin

[2019-12-19 21:22] kevinykuo commented on #7
Currently the user doesn't have control over subsampling for VGM training, since it's hardcoded in https://github.com/DAI-Lab/CTGAN/blob/fd507166f132381bc62b60f6457028f5bcaa904c/ctgan/synthesizer.py#L114-L115

To clarify, the non-scalable piece is the `BayesianGaussianMixture`, so I'm proposing to subsample the data there for training data transformation, but when we train the actual GAN we still

[2019-12-19 21:33] kevinykuo commented on #11
Yep I have been watching the repo, and will refactor accordingly. There were some hacks I had to make to get it to work with R. Ideally we can just grab ctgan from pip to lessen maintenance burden :)

I'll keep an eye out on new features, and ensure consistency as much as possible to reduce friction for teams working with different APIs. Note that the R package currently supports save/load already

[2020-01-02 07:14] ericwang915 opened #13 "Any way to fix one or more categorical variable value during the data generating stage?"
Thank you for the great works!

In the case when I want to fix one or two categorical columns' value before generating the data. What would be the ideal way to do it? If it is not a current feature, will you consider supporting it in the future?

For example, instead of generating random 1000 samples for the Adult Census Dataset. I want to generate 1000 samples with Income <= 50k

Any suggestion w

[2020-01-02 09:31] kevinykuo commented on #13
Sampling is cheap so you could just sample a bunch of records then filter for the ones you're interested in.

[2020-01-08 14:19] kevinykuo opened #14 "Flush stdout buffer for epoch updates"
Could we add a `flush=True` to the `print()` call at https://github.com/sdv-dev/CTGAN/blob/152da6736496f42a48f614d8af0b808f5017a6a1/ctgan/synthesizer.py#L217-L218 This would unblock the messages to the R console.

[2020-01-08 14:20] kevinykuo opened #15 "Consider verbosity parameter for per-epoch losses"
Either on/off or maybe a frequency (e.g. every N epochs)

[2020-01-08 14:23] kevinykuo commented on #11
@csala I was able to cleanly remove the inline hacks and depend directly on the new ctgan release! (see PR https://github.com/kasaai/ctgan/pull/7) :)

The only issue left is a cosmetic one, which I've filed here https://github.com/sdv-dev/CTGAN/issues/14

[2020-01-08 14:30] kevinykuo opened #16 "Consider adding option to sample from true data frequency instead of logged frequency"
In some applications, using the log-frequency in conditional sampling gives unrealistic samples. Would it be OK if we exposed a parameter to turn this off (defaulting to the current behavior/outlined in the paper, of course):
https://github.com/sdv-dev/CTGAN/blob/152da6736496f42a48f614d8af0b808f5017a6a1/ctgan/conditional.py#L53

@leix28 @csala

[2020-01-08 14:32] kevinykuo commented on #11
Actually, a slightly less cosmetic issue here: https://github.com/sdv-dev/CTGAN/issues/16 :P

[2020-01-09 13:40] csala commented on #13
Exactly what @kevinykuo says: right now there is no way to fix variables when sampling, so the only option is to discard the invalid rows and resample until you have as many as you need.

Another option is, is you know what you need in advance, to create a subset of the original dataset with only the rows that contain the value(s) that you need and then fitting a specific CTGAN instance with that

[2020-01-10 17:53] #3 closed

[2020-01-12 06:28] #14 closed

[2020-01-13 10:47] rianboy18 opened #21 "Not able to fit() CTGANSynthesizer() if NaNs are present in the dataset"
* CTGAN version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2020-01-13 18:29] csala commented on #21
Hi @rianboy18 unfortunately CTGAN does indeed not work with null values.
Maybe this will change in the future, but for now it is intended to work only with single tables of numerical or categorical data, with no nulls.

If you want support for more complex scenarios, like nullable, boolean or datetime columns, or multi-table datasets, please have a look at the [SDV](sdv-dev/SDV) project.

Also not

[2020-01-13 18:42] rianboy18 commented on #21
Thanks @csala. Noted !

[2020-01-13 18:42] #21 closed

[2020-01-16 14:28] #16 closed

[2020-01-16 14:54] kevinykuo opened #22 "Fix flaky test associated with sampling"
There's some randomness involved in https://travis-ci.org/sdv-dev/CTGAN/jobs/637977740#L250
associated with https://github.com/sdv-dev/CTGAN/pull/20

Will need to have a more generous threshold or take a few more samples. Investigating.

[2020-01-16 15:03] csala commented on #22
@kevinykuo Let's fix it by keeping the randomness under control by using mocks.

[2020-01-16 17:09] kevinykuo commented on #22
Realized that instead of `np.random.choice()` we can just deterministically specify the training data. Once we get the trained model I'm proposing we take more samples to lessen variance (since it's cheap to do and adds negligible testing time).

[2020-01-20 23:50] kevinykuo commented on #15
@csala I think for this we should have a `verbose` parameter that turns the printing on/off. However, in either case I think it'd be helpful for `fit()` to return data of the training history, so users can inspect/plot it afterwards. Maybe a wrapper around a pandas data frame but you'd probably have a better idea on what the most Pythonic approach is. Let me know your thoughts on this and I'd be h

[2020-01-23 15:33] kevinykuo commented on #11
@csala do you mind cutting a patch/minor release incorporating the last couple PRs so we can streamline the dependencies for the R package and get it on CRAN? Planning to tell people about SDV/CTGAN at the RStudio developer conference next week :)

[2020-01-24 10:46] #22 closed

[2020-01-24 10:47] csala commented on #11
Sure, we'll go for it today @kevinykuo

Great news btw! Thanks for taking care of it!

[2020-01-27 10:45] oregonpillow opened #24 "Not working with Discrete_columns containing integers"
* CTGAN version: 0.2
* Python version: 3.7
* Operating System: Mac Catalina 10.15

### Description

The definition of discrete columns is correct on the homepage; stating that discrete columns can indeed be integers or strings. However in practice I have not found the `CTGANSynthesizer` to work with `discrete_columns` that contain integers.

### What I Did

Using the Census demo dataset, I looked

[2020-01-27 12:38] csala commented on #24
Hello @oregonpillow

On one side, I'm afraid I cannot reproduce the error that you mention when using integer discrete columns.

Here you have the log of an ipython session where I simply added the `education-num` column as you were suggesting and was able to fit and sample without issues:

[code]

Please try to reproduce this same code on your side to see if it also works for you. If it does, ple

[2020-01-27 13:07] csala commented on #11
[Release v0.2.1](/sdv-dev/CTGAN/releases/tag/v0.2.1) is out @kevinykuo !

The link to R package has also been added to the readme, so closing this.

[2020-01-27 13:07] #11 closed

[2020-02-02 11:03] oregonpillow commented on #24
Thanks @csala for your detailed response and sorry about slow reply.
I knew i would get axed for thinking of discrete columns like i did  :) haha. You're quite right though and thank you for your great examples. Particularly your second example was really helpful conceptually.

I tried re-creating the error. Something import i forgot to metion is that I've been using **Google Colab**, which I'm no

[2020-02-02 12:03] oregonpillow opened #25 "Implementing an early stopping parameter"
* CTGAN version: 0.2.1
* Python version: Python 3.7
* Operating System: Google Colab

### Description

 there doesn't seem to be any clear convergence with increasing epochs after a while. Past approx 30 epochs in the example below, the generator consistently doesn't improve much and the discriminator doesn't seem to show any clear improvement trend either.

Is it reasonable if implemented an earl

[2020-02-02 12:22] oregonpillow commented on #24
@csala ,
another observation i saw is that in the synthetic output of the demo data, the 'capital-loss' and 'capital-gain' columns have a lot of negative float values in after fitting since we treat them as continuous variables during the input

But in the original data the majority of the values in 'capital-loss' and 'capital-gain' are zeros, punctuated only occasionally by a a few large numbers.

[2020-02-02 15:40] csala commented on #24
Ok, I'm afraid that in this case the actual problem was just a typo :-)

Notice that after the `'education-num'` string there is no comma, which makes python interpret that
`'education-num'` and `'workclass'` are 2 parts of the same string:

So, what is actually happening is that CTGAN is looking for a discrete column called `'education-numworkclass'` and skipping the `'workclass'` column, which i

[2020-02-04 15:36] aldolamberti opened #26 "Easy solution for restoring original dtypes"
* CTGAN version: 2.0.1
* Python version: 3.7
* Operating System: MacOS

### Description

After having sampled a dataset, we (@oregonpillow and I) encountered the fact that all numerical columns are converted to floats. However, we can simply restore the original dtype after sampling.

### What I Did

[code]

### Question

Is this something we could consider implementing?

[2020-02-06 15:31] oregonpillow commented on #24
@csala Thanks for finding my embarrassing typo ;-) and thanks for explaining what's happening in the background with the error. That's good to know.
I agree - if we could implement valid column checking at the very beginning of fitting I think this would be a good fix! and save others a lot of time in the future if they have lots of discrete columns they need to specify.

Did you get a chance to l

[2020-02-25 10:27] arrayslayer opened #28 "Negative losses"
* CTGAN version: 0.2.1
* Python version: 3.8
* Operating System: MacOS

### Description

While fitting and training, I get negative losses for Generator & Discriminator. What do negative losses imply? Shouldn't they be >=0?

### What I Did

Running a simple fit and train on adults dataset

[2020-02-26 09:08] arrayslayer commented on #28
Also, can you tell which seed can we set to get reproducible samples?

[2020-02-26 16:44] k15z commented on #28
Here are the two loss functions:

The generator loss consists of two components, the `cross_entropy` which can never be negative and `-torch.mean(y_fake)` which can be negative if the discriminator assigns a high score to the fake/synthetic data.

Assuming that the discriminator has assigned a high score to the fake/synthetic data, then the only way that the discriminator loss could be negative is

[2020-02-26 16:44] k15z commented on #28
Re: the random seed, this library use PyTorch so should be able to just add:

[code]

before you call `sample` to get reproducible samples.

[2020-02-27 04:56] arrayslayer commented on #28
Thank you so much for both the detailed responses. Closing issue now :)

[2020-02-27 04:56] #28 closed

[2020-03-01 20:00] oregonpillow opened #29 "simple script for deploying ctgan onto a server - looking for feedback"
Hey guys,
huge fan of the project. I recently deployed ctgan onto a server and wrote some simple scripts to make the deployment easier. It features a simple CLI to prompt the user through the process of creating synthetic data.

if you're interested please check out: https://github.com/oregonpillow/ctgan-server-cli

I'm very new to programming and data science and would really welcome any advice a

[2020-03-03 11:45] oregonpillow commented on #25
In my forked ctgan repo, i added a couple new features that were of interest to me including logging, gpu_stats, early_stopping and patience.

any feedback appreciated.
e.g.
`ctgan.fit(data, discrete_columns, epochs=500, early_stopping=True, gpu_stats=False, patience=40, logging=True)`

[https://github.com/oregonpillow/CTGAN/blob/master/ctgan/synthesizer.py](url)

[2020-03-03 16:39] leix28 commented on #29
Interesting project! This repo will be added to "related projects".

Not sure if GPU can be specified in the script when there are multiple GPUs on the server?

[2020-03-03 19:30] vampypandya opened #32 "Doubt with Likelihood fitness metric"
Hi,

I am trying to understand the  Evaluation Metrics and Framework. You have mentioned that L_(test) will detect Mode Collapse. How does that happen?
Also, it would be great if you could elaborate on "But this metric introduces the prior
knowledge of the structure of S
0 which is not necessarily encoded in Tsyn."

Thanks

[2020-03-03 20:27] oregonpillow commented on #29
That's a good question, I think this should be possible. I will look into this...
I think something within [https://pytorch.org/docs/stable/cuda.html](https://pytorch.org/docs/stable/cuda.html) could provide the answer.

On a similar note, earlier today  I implemented `early stopping, patience, logging, gpu_stats` as parameters for the ctgan synthesizer fit class. [https://github.com/sdv-dev/CTGAN

[2020-03-04 18:31] csala commented on #26
Thanks for the suggestion @aldolamberti !

Yes, as I just mentioned in @oregonpillow's PR, we'd be happy to accept a contribution about this!

Just one comment: I think the dtype conversion could be done more efficiently if you use `pandas.DataFrame.astype` method: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html

The solution would then be as simple as stori

[2020-03-05 16:57] oregonpillow commented on #26
@csala thanks for the tip. However, when i tried `self.dtypes = train_data.dtypes` i get the error:
**_numpy.ndarray' object has no attribute 'dtypes_**

presumably because it's a numpy array and not a pandas dataframe, right?
So looking at [numpy.ndarray.dtype documentation](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.dtype.html) looks like numpy uses `.dtype` instead of pa

[2020-03-05 17:54] csala commented on #26
@oregonpillow I think that is because you are extracting the dtypes too late inside the `fit` method. The line I suggested (`self.dtypes = train_data.dtypes`) should be the first thing that happens inside `fit`, before going through the transformer (which, precisely, converts the data to numpy and adds new columns to encode the categoricals).

Then, you should be able to get `dtypes` instead of `d

[2020-03-06 15:11] oregonpillow commented on #26
Thanks @csala

I tested the code manually in colab first: [Google Colab](https://colab.research.google.com/drive/1iVePIJFXC0-EwywbjVUdvWTeiHDXBzzu) and it works now!

However, when implementing this into my local fork and run tests I get the following error during `make test:`

[code]

which makes no sense to me since it runs fine within colab. Any suggestions?

[2020-03-06 18:13] csala commented on #26
Sorry for the confusion @oregonpillow ! You are totally right: I overlooked the fact that the DataFrame vs numpy issue is being taken care by the transformer, not the synthesizer. So the dtypes conversion should also be done there, inside `transformer.py`, not inside `synthesizer.py`.

The way to go would be to capture the dypes inside the `fit` method, after converting the data to a dataframe and

[2020-03-07 12:36] oregonpillow commented on #26
@csala i gave it a go and it passed `make test` but it doesn't restore the sampled dtypes.

I reverted the synthesizer back it's default code in 0.2.1 and only changed the transformer.py as you suggested.

[2020-03-07 14:51] csala commented on #26
You're right again @oregonpillow I had not tried it before myself, and it turns out that the dtype assignment only works when working with a DataFrame, as numpy has a single `dtype` for the whole array.

And I just spotted another related problem as well, which is that if data is passed as a numpy array since the beginning, the dtypes are not properly taken from it.

I would do the following chang

[2020-03-08 12:44] oregonpillow commented on #26
That works! :) Good idea @csala ! I was not aware of the `infer_objects` function in pandas.

To clarify my understanding on your 2nd point:

If we built a DF only if `dataframe` is true then we would not be able to restore the dtypes for numpy arrays...

Therefore your solution is by always creating a dataframe, we can always restore the dtypes, and if the input was a numpy array (`dataframe` is

[2020-03-08 15:11] oregonpillow commented on #15
Any updates on this issue?
Playing around in Colab I put this together : [https://colab.research.google.com/drive/1JA_Ap1bQDmlhm_tC1k8RL0MNYKBluJNa](https://colab.research.google.com/drive/1JA_Ap1bQDmlhm_tC1k8RL0MNYKBluJNa)
 and added some new arguments to the `fit()` class in synthesizer.py . However I'm certain that my methods of implementation are probably completely off. Any feedback greatly a

[2020-03-10 10:08] csala commented on #26
That's correct! There is also one additional thing to consider, which is that the numpy array in most cases will ignore the dtypes, and simply become the most broad one (i.e. `object`).

So, in other words: If a numpy is given as input, even if the individual columns are different dtypes, array dtype will be`object`. Our `infer_objects` will catch that and fix the dtypes, which will be restored at

[2020-03-10 10:09] csala commented on #26
Closed via #33 Thanks again @oregonpillow !

[2020-03-10 10:09] #26 closed

[2020-03-11 16:36] oregonpillow opened #34 "Is synthetic data always anonymous?"
One of the major use cases for synthetic tabular data is creating anonymous data for others to work with.

I was wondering if it's possible by chance during sampling that a sampled DF contains rows which are similar enough to some of the original DF rows which could allow someone/something to be identified?

E.g. For a given DF containing columns:  `age , education, race, test-score`, .....etc

Pe

[2020-03-12 12:58] oregonpillow opened #35 "Check discrete_columns valid before fitting"
As @csala mentioned in [#24 ](https://github.com/sdv-dev/CTGAN/issues/24#issuecomment-581147311) it would be good to check that `discrete_columns` list is valid at the beginning of fitting instead of silently ignoring invalid columns then throwing an error later in the fitting process.

### What I Did

Would something similar to this at the beginning of `fit`function work? :
[code]

[2020-03-25 14:55] Baukebrenninkmeijer opened #37 "Retention of gradient penalty Graph"
Hi guys,

What is the role of retaining the graph of the gradient penalty after doing the backward pass? I couldn't find any other usage after that so I was wondering if this was still doing something? Thanks!

https://github.com/sdv-dev/CTGAN/blob/f71c8fa33257dca0e73282a7984742e3d1f97267/ctgan/synthesizer.py#L190

[2020-03-25 15:04] Baukebrenninkmeijer commented on #34
As far as I understand, yes this is possible.

We're trying to run similar techniques in live systems now and there we do a check on the output rows to verify no identical rows are present in the synthesized data. However, the probability of a sample exactly the same as from the original dataset is very small, especially when there are continuous columns present. However, given the dataset you are

[2020-03-25 15:12] Baukebrenninkmeijer commented on #24
@oregonpillow This occurs because in the continuous columns, gaussians are being fitted to the distribution. A column with a lot of zeros will have a gaussian fit around 0, which will inherently result in negative values.

In my practices, I've been trying to detect the min and max for continuous columns in the metadata extraction (preprocessor.py) and clipping the resulting values to those. They

[2020-03-25 15:14] Baukebrenninkmeijer commented on #29
Nice project @oregonpillow!

[2020-03-27 01:38] ssierral commented on #1
Can you share a sample of your dataset?
Have you been able to solve your problem?

[2020-03-30 09:12] Diyago commented on #25
I implemented early stopping as well here https://github.com/Diyago/GAN-for-tabular-data/blob/master/ctgan/synthesizer.py#L262

[2020-03-31 19:26] leix28 commented on #37
Hi @Baukebrenninkmeijer

In PyTorch, the computing graph will be deleted after running backward. But here the computing graph is still needed for another backward pass (loss_d.backward). retain_graph prevents pytorch from deleting the computing graph.

[2020-03-31 19:28] leix28 commented on #32
Hi @vampypandya

L_test could detect mode collapse. If mode collapse happens, the data simulator S’ will capture only part of the modes. In the test data, all modes will be covered. So, when computing likelihood on modes that are covered by the test data but not covered by S’, we will get very low (bad) likelihood.

Regarding prior knowledge of the structure of S, let’s assume there are 3 variable

[2020-04-01 11:38] HAPE-XXXL opened #38 "How to treat missing continuous values"

[2020-04-01 11:40] #38 closed

[2020-04-01 11:43] peter-jay-aut opened #39 "How to treat missing continuous data in data set"
* CTGAN version:0.2.2
* Python version: 3.6.8
* Operating System: Tensorflow Docker
### Description
Hi, I'm curious how to treat missing continuous values in a training Dataset. Using a placeholder that was used in the demo file ('?') for missing discrete values won't work. Any suggestions, how to deal with this issue?
Kind Regards!

[2020-04-01 20:42] Baukebrenninkmeijer commented on #37
@leix28 Hmm, very interesting. It was my understanding that the gradients are stored in the tensors and you don't need to store the graph. And unless you do the optimizer step, the gradients will be stored there and you can manipulate and update them.

In other words, calling `.backward()` three times will add the gradients of those three backward passes after which you can do the optimizer step.

[2020-04-02 09:38] kitty54 opened #40 "Getting negative values for some features?"
Why am I getting negative values for feature like 'charges' or in case of demo dataset the feature 'capital-gain'?

[2020-04-02 10:08] oregonpillow commented on #40
This has already been addressed here [Issue24](https://github.com/sdv-dev/CTGAN/issues/24#issuecomment-603897028 )

capital-gain column is continuous and the column is filled with mostly zeros punctuated occasionally by some non-zero values. When the model fits, it's learning the distribution of values. The model will try to gaussian fit around zero but will of course result in some values below z

[2020-04-03 00:23] tolandwehr opened #41 "Feature request: Joint/3D tabular data"
Hi there,

on the way on shaping my own CGAN I stumbled upon your application which is indeed quite meaty and impressive. As you're someway ahead of my application I just wanted to ask whether it might be appendable by a certain feature:

Right now, the generation is 2d, so each line is regarded as a single, independent output. In my respective data set, the data is structured as follows: (object,

[2020-04-08 19:04] tolandwehr commented on #41
Hi there!

Just wanted to ask, whether this might be actually worthwhile feature for you folks (that might be even already on the update list) or something you wouldn't consider in near future.

Regards,
Tobias

[2020-04-09 23:23] firmai opened #42 "Time Series"
Hi do you perhaps know or have you yourself developed a generative model for multivariate time series. Thanks for the package!

[2020-04-13 17:04] leix28 commented on #41
Hi @tolandwehr ,

I think this feature is related to synthesizing a database. In a database, there are multiple tables. In your example, there are some two tables. One contains (object_id, static_features), and the other contains (object_id, year_id, dynamic features). The latter one also requires the capability of generating time-series data. I would not consider adding this feature to CTGAN proj

[2020-04-13 17:13] leix28 commented on #39
Hi @peter-jay-aut

Current CTGAN does not support missing values. "?" is not the best way to handle missing values for discrete columns. "?" is treated as a normal category. I would suggest you to run missing value imputation before training CTGAN.

We may consider adding missing value imputation in the future.

[2020-04-13 17:24] leix28 commented on #37
According to my understanding, gradients are computed when `backward` is called. And one side effect is it deletes the computation graph so that additional `backward` calls can not be executed.

Here is an equivalent implementation:
[code]

[2020-04-14 11:25] peter-jay-aut commented on #39
thank you very much for your reply!

[2020-04-20 17:07] leix28 commented on #42
We are developing GAN-based algorithms for multivariate time series. But these methods haven't been open-sourced yet.

[2020-04-20 18:13] firmai commented on #42
That is excellent news, I saw a gap in that there is no nicely packaged version out there. Looking very much forward.

[2020-04-20 18:13] #42 closed

[2020-04-22 10:30] Baukebrenninkmeijer commented on #37
After a bit more digging: if you do not have retain_graph=True, the computational graph of that specific loss is freed from the buffer. However, the computational graph of other losses is not.
This means you cannot call `.backward()` on a single loss twice, but you can call it on separate losses. I did a short experiment where you can see they are all equivalent to each other.

Using the following

[2020-04-24 08:28] alinapopaqb opened #43 "Feature request: Extracting causal relationships"
### Description
Would be nice if created data can be used as ground truth for Causal Discovery methods or different explainers.

In literature, there are approaches when a DAG is fitted, then used to sample data. This DAG is then considered the ground truth and a series of algorithms are benchmarked against the existing causal relationships.

Is a similar approach possible with CTGAN? If yes, woul

[2020-04-27 21:46] diegobodner opened #44 "Saving a CTGAN model"
* CTGAN version:
* Python version:
* Operating System:

### Description
I would like to save in disk a CTGAN trained model. I did it in the past using TGAN using tgan.save command.

### What I Did
It seems it's not possible to save models
[code]

[2020-04-28 15:45] kishensurajp commented on #44
@diegobodner , did saving as pickle work?

[2020-04-28 16:15] oregonpillow commented on #44
Hi @diegobodner, You need to `import torch` explicitly somewhere.

assuming you called your instance of the synthesiser 'ctgan' then it's pretty simple:

[code]

Here's an example:
[https://colab.research.google.com/drive/1YBxeOlsATKt6zesv_O3HPCPR-G8sPPib](https://colab.research.google.com/drive/1YBxeOlsATKt6zesv_O3HPCPR-G8sPPib)

however, I'm currently getting  `ImportError: cannot import name '_

[2020-04-30 21:10] diegobodner commented on #44
Many thanks!!

torch.save(ctgan,'my_awesome_model') works well.

Best regards

[2020-05-02 12:25] Ped45 opened #45 "Validity of single samples"
I'm using CTGAN to generate a synthetic population of travel records. Some of my columns are deterministically correlated, for example, *column A + 60 x column B = column C*.

After training, the model does not capture these correlations within single samples. This means for a single sample: *column A + 60 x column B =/= column C*. However, the generated population consisting of many samples captu

[2020-05-06 15:19] tomaskappa opened #46 "Without Discrete columns the Loss increase strongly"
### Description

I have fitted the Synthesizer with the same dataset several times, making litle changes.
Always, all the epochs have had losses (Loss G & Loss D) under |4|. None of the maximum numbers passed that threshold. And, in 300 epoch I usually get less than 0.8 .
But when I train the model without the only discrete column that I have in my dataset, both losses increase very much. The Loss

[2020-05-08 15:27] pawelkuk commented on #13
What about setting `condvec` by hand while sampling? Shouldn't we then get the desired class most of the time?

[2020-05-13 04:58] seansaito opened #47 "Always running into nan losses"
* CTGAN version: 0.2.1
* Python version: 3.7.7
* Operating System: Ubuntu 14.04

### Description

I'm using the sample code provided on the `README` to generate sample adult census data. When training the GAN, I run into `nan` losses every time after the 1st~5th epoch.

![image](https://user-images.githubusercontent.com/3626315/81772800-5cb04b80-9519-11ea-824e-eda466b02d14.png)

[2020-05-16 11:10] farquasar1 opened #48 "handling NaNs and datatypes not perseved"
* CTGAN version: '0.2.2.dev0'
* Python version: 3.6
* Operating System: macOS

### Description
1. Through an error on fit if a categorical columns has any NaN
2. in sampling datatypes returned are not preserved - on Adult data int are returned as categorical

### What I Did
ctgan = CTGANSynthesizer()
ctgan.fit(data, discrete_columns, epochs=50)

[2020-05-17 14:00] sree369nidhi opened #49 "Can developers get more documentation for better understanding the code"
hi, I came across this repo few days ago I'm really impressed by the outputs of the model but I'm having a very hard time understanding the whole code in a clear manner. Is it possible for you guys to help me out.

[2020-05-26 16:58] pbmartins opened #50 "TensorFlow 2.X Implementation"

[2020-06-03 11:39] turian opened #51 "Documentation: Guidance about picking hyperparameters"
* CTGAN version: v0.2.1
* Python version: 3.7.7
* Operating System: OSX 10.14.6

### Description

I am working with a new tabular dataset where it is difficult to evaluate the results.

It has about 2500 rows and 40 columns.

It is difficult to know how to evaluate the model or what hyperparameters to use. Can you provide some guidance in the documentation? For example, is minimizing the loss of G

[2020-06-11 18:37] adamFinastra opened #52 "CUDA out of memory"
I have been trying to run a dataset that is ~100k rows with ~40 columns through the synthesizer but am getting

**CUDA out of memory. Tried to allocate 2.52 GiB (GPU 0; 11.17 GiB total capacity; 9.79 GiB already allocated; 706.81 MiB free; 10.19 GiB reserved in total by PyTorch)**

when I run

`ctgan = CTGANSynthesizer(batch_size=50)
ctgan.fit(data,discrete_cols,epochs=3,log_frequency=True)`

I ha

[2020-06-12 02:14] kveerama commented on #44
Thanks @oregonpillow. Closing this for now.

[2020-06-12 02:14] #44 closed

[2020-06-12 04:09] leix28 commented on #52
Hi,

This could happen when one categorical column gets too many categories. In the first 10k rows, there are say 1000 different categories, the model is still small and can fit into the GPU memory. When there are 100k rows, there are more different categories, and it runs out of memory. One typical example is a column of unique id. Unique id columns are not supported by our model.

Is there any l

[2020-06-12 04:18] leix28 commented on #51
Hi,

Measuring the performance of GAN is challenging in general. The loss is not a good indicator for model performance. (But make sure losses are in a reasonable range, like [-100, 100].)

You can focus more on the downstream performance if you have a downstream application. Otherwise, you can (1) visualize the marginal distribution of columns; (2) measure the correlation between columns.

The da

[2020-06-12 13:43] adamFinastra commented on #52
Thank you! I had a few columns that had 20k unique and 300k unique categorical values. I am removing those now.

What about taking a high dimensionality categorical column then remapping it as an integer and running the model. Then the model will learn an integer (I can round it if it comes out as float) and try and remap back

e.g.
['A,'B',...,'Z'] --> [1,2,...26]

[2020-06-14 19:01] leix28 commented on #52
It depends on the meaning of the column.

If the column is a unique identifier, it should be removed.
If the column is an ordinal column, converting categories to integers may make sense. For example, ["elementary school", "middle school", "college"] --> [1, 2, 3] is reasonable. But ["Massachusetts", "New York", "California] --> [1, 2, 3] does not make much sense.

[2020-06-14 22:26] adamFinastra commented on #52
What if there is High dimensionality for a categorical column, say there are 50,000 different cities for example that are not ordinal. It’s not more efficient to remap these to an integer value 1,2,...,50000 and learn an integer representation. I’m just concerned that the 50k different categories could be too much
________________________________
From: Lei Xu <notifications@github.com>
Sent: Sunda

[2020-06-17 15:10] ewitkon opened #54 "Publish to conda repo"
Is this package available in any of the public conda channels?

[2020-06-21 09:46] jchaykow opened #55 "Differential privacy"
Does this implementation guarantee differential privacy? This is mentioned in the paper as possible with CTGAN.

[2020-06-22 14:34] csala commented on #1
Closing this issue because the code has gone through a few changes since the issue was open and there is no data to try to reproduce the indicated problems.

Please feel free to open again if there are any follow up comments.

[2020-06-22 14:34] #1 closed

[2020-06-22 14:50] csala commented on #25
@oregonpillow @Diyago I came upon this while reviewing old issues. Since it seems that there are already a couple of implementations out there, please feel free to open a PR against this issue to contribute your versions! We can then discuss a bit more the details over the proposed code.

[2020-06-22 16:25] csala commented on #29
This is already listed on the README, so I'm closing this issue for now. Great contribution @oregonpillow !

[2020-06-22 16:25] #29 closed

[2020-06-22 16:25] #32 closed

[2020-06-22 16:30] csala commented on #35
I think that the check could be done in a shorter way, and a `ValueError` should be raised instead of just existing silently (actually, `sys.exit` is something that you will want to use only in CLI code and in very specific circumstances!)

I think that something like this should work:

[code]

[2020-06-22 16:33] csala commented on #39
Closing this issue, as the question has already been responded.

Also adding that if you want to work with data that is not clean and completely ready for modeling, you might want to have a look at the sibling library [SDV](/sdv-dev/SDV)

[2020-06-22 16:33] #39 closed

[2020-06-22 16:34] #40 closed

[2020-06-22 16:36] csala commented on #41
Closing this as, like @leix28 said, this is being worked on in the related project [SDV](/sdv-dev/SDV) Don't forget to check it out!

[2020-06-22 16:36] #41 closed

[2020-06-22 16:41] csala commented on #45
This kind of columnar relationships is what we call constraints, which CTGAN is not intended to handle for now. However, work is being done to handle them properly in the related project [SDV](/sdv-dev/SDV). Please check it out!

[2020-06-22 16:41] #45 closed

[2020-06-22 16:45] csala commented on #48
Hi @farquasar1 I'm afraid that the question is not clear. Would you mind providing some more details about what you are asking and what are the exact commands required to reproduce the behavior that you describe?

[2020-06-22 16:48] csala commented on #49
Work is currently being done to improve the quality (and readability) of the code. After the changes are done it should be much easier to read it and understand everything that is going on.

Closing this for now, but stay tuned for the changes and feel free to open a new issue (or re-open this) for any clarifications once the refactoring has been finished.

[2020-06-22 16:48] #49 closed

[2020-06-22 17:10] csala commented on #51
Closing this issue because it has already been responded. Please feel free to re-open if there are any further doubts about it.

[2020-06-22 17:10] #51 closed

[2020-06-22 17:11] csala commented on #54
Hi @ewitkon It is not, but it will probably be made available in the near future.

Leaving this issue open to work on it.

[2020-06-22 18:07] ewitkon commented on #54
Thanks! Looking forward hearing from you.

On Mon, 22 Jun 2020 at 20:12 Carles Sala <notifications@github.com> wrote:

--
Eran Witkon | +972506614916 | "You don't need eyes to see you need Vision "
(Faithless)

[2020-06-28 20:57] leix28 commented on #37
Sure. Maybe in this case, retain_graph is not required, but it either way gives the same output : )

[2020-06-28 20:57] #37 closed

[2020-06-28 21:00] #34 closed

[2020-06-30 17:06] adamFinastra commented on #42
Any update on any time series methods?

[2020-07-05 04:21] AshiakerWang opened #56 "Code implementations of the VGM that aims to estimate the number of modes of the continuous column"
It's said in the [ CTGAN pape](https://arxiv.org/pdf/1907.00503.pdf)r that **the number of the modes** of the continuous column is estimated with variational Gaussian mixtures model (VGM).

However, after going through the code, I could not find the corresponding implementations of the  variational Gaussian mixtures model that aims to estimate the number of modes.  It seems that the number of mode

[2020-07-06 01:27] leix28 commented on #55
Current implementation does not guarantee differential privacy.

[2020-07-06 01:39] leix28 commented on #52
When there’s a discrete column with so many categories, it usually means that there are fewer examples for each category. So the learning task becomes much more difficult. The solution to this problem depends on the data and use case. For example, when there're sufficient data, training multiple models on subsets of the data is helpful. It's also possible to cluster the categories. In your example

[2020-07-06 01:53] leix28 commented on #56
Hi, VGM is also called Bayesian Gaussian Mixture. The VGM uses a Dirichlet process to determine the number of modes. Ideally, the number of modes in VGM has no upper bound. However, we use sklearn's implementation, so we have to set the maximum number of Gaussian mixtures. By default, we set the maximum number of modes to be 10. And for most continuous columns, the model does not use up all 10 mod

[2020-07-06 01:56] AshiakerWang commented on #56
Thanks a lot for your explanation!

[2020-07-06 01:56] #56 closed

[2020-07-07 09:50] yairdata opened #57 "support recent versions of pandas"

[2020-07-10 19:27] hannahawalsh commented on #57
I too would like support of pandas 1.0 because I have other code that depends on that.

[2020-07-12 23:05] MotoRZR opened #58 "Targeted sample generation"
Instead of random sample generation is it possible to create samples based on predefined inputs (discrete or continuous).  So for the adult dataset if I wanted my sample to be of age X and from country Y and have the GAN generate the rest of the characteristics is that possible?

[2020-07-12 23:15] MotoRZR commented on #58
I see a similar post is already up

[2020-07-12 23:15] #58 closed

[2020-07-12 23:19] MotoRZR commented on #13
This is exactly the feature I’m looking for.  Would be a great addition

[2020-07-15 05:49] MotoRZR commented on #57
Ditto

[2020-07-15 18:57] Ujjwalsas9 opened #60 "Trying to modify batch size in source code (synthesizer.py) from 500 to 16 and getting 'Assertion error'"
* CTGAN version: 0.2.1
* Python version: 3.7
* Operating System: Windows 10

### Description
My raw data file to very small so I was trying to generate synthetic data with modified source code with batch size=16 but I am getting assertion error. Please let me know what should I do.

### What I Did

[code]

[2020-07-17 13:53] kvrameshreddy opened #61 "Need help"
* CTGAN version: v0.2.1 - 2020-01-27
* Python version: 3.7
* Operating System: Windows 8.1

### Description

I need to generate table data similar to input. The input data has two columns like "Company" and "Dept"
CTGAN is generating data randomly. But i need data Specifically like company1 has 4 Departments Which are unique.
When Ever CTGAN Generate data row with company 1 the Department Column s

[2020-07-17 14:16] oregonpillow commented on #61
What you're asking isn't possible. Although CTGAN can detect relationships between columns it's still going to sample from a distribution. It might learn that Comp1 should have a much higher probability of being A,B,C and that Comp2 is likely X,Y,Z but it doesn't know that these are hard and fast rules.

My suggestion would be 1) Create a large enough sample for your needs and trim off any rows wh

[2020-07-17 14:18] kvrameshreddy commented on #61
thank you

[2020-07-21 09:54] kvrameshreddy commented on #61
can any other model does the above use case. please suggest me.

[2020-07-21 11:03] oregonpillow commented on #61
Mmmm not that I'm aware of. Your use case is pretty specific in terms of what you want. All models that i know of rely on Gaussian mixture models to sample from distributions. I don't know if your goal is to have more data or to have synthetic data that can be shared more freely. If you're only interested in privacy then I'd look at Differential Privacy models.

Otherwise you can try https://githu

[2020-07-21 11:06] kvrameshreddy commented on #61
thank you very much. I have tried DataSynthesizer. still facing the same issue. Will check with Copulas

[2020-07-21 11:40] csala commented on #61
Hello @kvrameshreddy

As @oregonpillow pointed out, your best bet will be to try [SDV](/sdv-dev/SDV).

SDV works with both multi-table and single table datasets (time-series coming _very_ soon) and it wraps both Copulas and CTGAN to provide a user-friendly interface that handles all these things for you, as well as data types, missing data, etc. The particular feature that you are asking for is wh

[2020-07-21 11:47] kvrameshreddy commented on #61
Thank you.  I will Check with SDV.

[2020-07-21 11:50] kvrameshreddy commented on #61
Can you help with the execution of SDV for single table datasets.

[2020-07-21 12:20] csala commented on #61
Sure, we'll try. Please feel free to open an issue directly in SDV it the question is related to it.

[2020-07-21 12:25] kvrameshreddy commented on #61
Sure. Thank you @csala

[2020-07-24 08:56] Baukebrenninkmeijer commented on #60
In my tests, batch size needs to be a multiple of 10. I don't recall why this issue was again specifically.

[2020-07-24 11:53] Baukebrenninkmeijer opened #62 "PR for modular transformer"
### Description

I refactored the transformer class to be more modular for my own work. Would you guys be interested in a PR?
It now has 1 main Transformer (DataTransformer) that uses other more specific transformers for continuous values, discrete values and possibly other values later on (I added dates, for example). These transformers all have abstract methods for `fit`, `transform` and `invers

[2020-07-24 11:57] Baukebrenninkmeijer commented on #25
Since this is a GAN, does it make sense to stop early when the loss is stable? If both the generator and discriminator are improving at the same rate, shouldn't it stay stable?

[2020-07-24 12:03] Baukebrenninkmeijer commented on #48
@farquasar1 Would you not want to substitute NaN values with a placeholder? That way, you can model them with the GAN. Otherwise, you can never model data that has any missing values.

For example, as a preprocessing step i'm doing this:
[code]
And then, when sampling you just do
[code]

[2020-07-28 11:26] kvrameshreddy commented on #61
Hi @csala
Is there any upcoming enhancement that adding "constraint"  in 'CTGAN' same as you developed in 'SDV'

[2020-07-31 08:40] adityalahiri opened #63 "Reproducibility"
* CTGAN version: 0.2.1
* Python version: 3.5
* Operating System: Linux

### Description

If I run CTGAN twice with every setting being same and fit on same dataset, while sampling, I get different points and also different losses. How to  make it consistent. I tried setting torch random seed but didn't work.
### What I Did
from ctgan import CTGANSynthesizer
from sklearn.datasets import make_blobs

[2020-07-31 09:00] oregonpillow commented on #63
Hi @arrayslayer ,
I'm going to give you a very general answer because I'm not as familiar as @csala . But it's my understanding that the initial seed state that the synthesiser starts from is random, which will cause the loss function to start from different places every time you initiate a new instance of the synthesizer. Furthermore, even if we used a consistent seed value the sampling results w

[2020-08-02 00:46] k15z commented on #60
The discriminator uses the PacGAN framework to prevent mode collapse with pack size 10. @csala The docstring can be updated to clarify this restriction, the batch size must be divisible by the `pack_size`.

[2020-08-02 10:07] arrayslayer commented on #63
Hi @oregonpillow ,
Thanks a lot for the detailed response. I added numpy and torch seeds to the synthesizer and transformer and it did the trick. I also set a random state in the GMM model. I get reproducible results now !
However, I am not sure how it is going to impact the fact that I could be able to only sample limited number of unique rows. I'll test that out.
If you guys want that as a user

[2020-08-03 13:17] gautambak opened #64 "Applying CTGAN to single colum?"
Hi there

I’m wondering if there is a way to use CTGAN on a single column ? For example if I have a dataframe with 100 columns but only want to generate Data for one column by leveraging relationship in other columns ?

[2020-08-03 14:17] oregonpillow commented on #64
Hi @gautambak ,
The general attitude here is sampling is cheap therefore generally recommended to sample as normal then modify the output to your own specific needs.

For your needs, sample then simply cut off columns you don't want.

[2020-08-03 14:37] apavlo89 opened #65 "Cant install CTGAN"
* CTGAN version: latest
* Python version: 3.7.7
* Operating System: Windows 10 home

### Description

When trying to install ctgan i get the following error:

ERROR: Could not find a version that satisfies the requirement torch<2,>=1.0 (from ctgan) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch<2,>=1.0 (from ctgan)

### What I Did

[code]

I also b

[2020-08-03 14:47] oregonpillow commented on #65
try `pip install --upgrade torch` . I'm assuming your pip is mapped to python3 version of pip?  Because normally pip3 is used to specify the python3 version of pip. e.g. pip3 install ctgan

[2020-08-03 14:49] csala commented on #65
Hi @apavlo89

As @oregonpillow suggested, I think you can try to install PyTorch **before** installing ctgan.

You can find instructions to install PyTorch only for your particular setup here: https://pytorch.org/get-started/locally/

[2020-08-03 14:56] apavlo89 commented on #65
Thank you, it is now working properly!

[2020-08-03 14:56] #65 closed

[2020-08-03 15:27] apavlo89 opened #66 "What is the number of training epochs?"
* CTGAN version: latest
* Python version: 3.7.7
* Operating System: Windows 10

### Description

Not so much an issue but more of a question. What is the default number of training epochs if I don't specify the number?

### What I Did

[code]

[2020-08-03 15:30] csala commented on #66
Hello @apavlo89

The default number of epochs is 300.

If you want to know the default values for this and other arguments you can have a look at the API Reference section in our documentatiot: https://sdv-dev.github.io/CTGAN/api/ctgan.synthesizer.html#ctgan.synthesizer.CTGANSynthesizer

[2020-08-03 15:39] apavlo89 commented on #66
Thank you very much! Is there a specific reason for choosing 300 epochs as the default? Is there some kind of optimum metric for the epochs based on the database?

[2020-08-03 17:40] gautambak commented on #64
Hi @oregonpillow

Thank you for your speedy reply!

I'm not 100% clear. If I have 100 columns and want to leverage 99 of them to enrich/create data for 1 column, how can I use sampling? If I generate the rows of data, wouldn't the all the columns not all match?

[2020-08-03 17:54] oregonpillow commented on #64
I interpret this as meaning you want to train a model on a large dataset but when you synthesise data (which means sampling from your trained model), you only want to create data for one of the columns in your original dataset?

E.g. You have a dataset that has 3 columns: age, income, sex.   After you train the model you are only interested in producing synthetic data for income so you sample from

[2020-08-03 17:58] csala commented on #64
@gautambak what you are describing sounds like just a standard supervised tabular machine learning problem, where you are learning how to predict the value of one column based on the values on the other ones. Is that so?

[2020-08-03 20:59] gautambak commented on #64
Hi @oregonpillow

That is correct but I'm not deleting age, sex.

To use your example, my usecase would be I have 50% data of income, and 100% of age & sex.  I know I can use a regression model but I wanted to try to use CTGAN to create values for the missing income data, then merge it with the original dataframe where the data was missing.

@csala Yes you are correct. I'm not sure is CTGAN is the

[2020-08-04 09:39] fibarrola commented on #64
@gautambak I think you'll need to modify the 'sample' behavior on object 'CTGANSynthesizer' to allow for synthesizing using from a 'condvec' input

[2020-08-04 10:52] csala commented on #63
Awesome @arrayslayer, I'm glad you figured it out.

Yes, a PR would be welcome, though I'd appreciate if you can share a few details here beforehand about how you implemented it, so we can briefly discuss if those are all the required changes or if something else should be added to it.

[2020-08-04 11:28] arrayslayer commented on #63
@csala
Definitely.
So, I have set the seeds of numpy and torch in the synthesizer and transformer. I set it in the __init__.
Also, I have set the random state in GMM model in transformer. I am attaching the git diff screenshot for your reference.

![image](https://user-images.githubusercontent.com/21020094/89288654-a077a480-d673-11ea-9fa0-9dc70c57f885.png)

[2020-08-04 14:44] gautambak commented on #64
Thank you for this @fibarrola - I went through the code and found the sample function and the condvec references but I'm unsure what I would need to do to get the behaviour I'm looking for.

Is there something in this block that I should change?

[code]

[2020-08-04 16:21] gautambak commented on #64
Follow up, related question - once I even generate the results, how can I join them? Using the sample code, it generates the entire dataset.

[2020-08-04 16:26] gautambak commented on #66
I assumed it was just a default number.

Not sure if this helps but in the demo in the readme you can set the epochs by `ctgan.fit(data, discrete_columns, epochs=5)`
or in the CTGANSynthesizer class you can adjust it within the fit function.  Maybe play with the epochs to see what works best for your data?

[2020-08-04 16:38] apavlo89 commented on #66
I'm quite new to machine learning especially in network techniques so would you say there's a pattern to look for in each/after a few epochs? What am I aiming for? I'd say after epoch 150 my Loss D and Loss G values were hovering around a specific range of values.

My computer then ran out of RAM at 215 epochs. In Epoch 215 the Generator Loss and Discriminator Loss was: G: 1.6974, Loss D: -77.0800

[2020-08-04 17:01] gautambak commented on #66
I'm learning also so I can't be too much help but I think you can experiment with different settings and datasets then see if they make sense to you?

As for memory, try google colab you can add the line `!pip install ctgan ` - you can get more memory + a gpu for free.

[2020-08-04 17:52] apavlo89 commented on #66
Wow, that is totally amazing! THANKS!

[2020-08-05 16:11] csala commented on #66
The default values for the model hyperparameters are, in most cases, the ones that were used to generate the results on the paper.

Regarding the value 300 in particular, the number was decided based on the performance obtained on the different datasets that were used for benchmarking, but different datasets might require different settings. In most cases, a lower number of epochs, of just a few d

[2020-08-05 19:32] csala commented on #57
The latest version in `master` branch now supports both the latest `pandas` and `scikit-learn` versions and the change will be included in the next release, so I'm adding this to the next milestone and closing the issue for now.

[2020-08-05 19:32] #57 closed

[2020-08-23 04:29] imutyshev opened #67 "could not convert string to float: 'workclass'"
* CTGAN version: latest
* Python version: 3.7.4
* Operating System: Ubuntu 18.04 on WSL

### Description

I am trying to run demo, but get 'could not convert string to float: 'workclass'.

### What I Did

from ctgan import load_demo
from ctgan import CTGANSynthesizer

demo = load_demo()

discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationshi

[2020-08-27 16:00] #50 closed

[2020-09-01 17:00] jari-el13 commented on #67
Where you able to resolve the issue?

[2020-09-01 17:13] imutyshev commented on #67
yes, but indirectly. I used ctgan from sdv (https://github.com/sdv-dev/SDV) and it worked fine. BTW ctgan poorly handles accounting data. So if you need to generate syntethic accounting transactaion log CTGAN is a poor choice.

[2020-09-01 17:13] #67 closed

[2020-09-02 00:58] leix28 opened #69 "Sample synthetic data conditioning on a discrete column"
From time to time, we need to sample rows with a fixed value in a column. For example, in census data, we may want to generate synthetic data for one state or one gender.

The CTGAN's conditional vector can be used for this purpose. But in current implementation, the software cannot easily sample synthetic data conditioning on one column.

[2020-09-02 01:04] leix28 commented on #69
In this pull request, I mainly implement two features.

(1) save and load.
Users can use CLI to launch the training of the synthesizer, and save the trained model to a fold. This feature is important for conditional sampling. Because when people try to do conditional sampling, they usually need to use the same synthesizer multiple times and conditioning on multiple different columns and values.

(

[2020-09-03 05:10] dosoung opened #70 "Hello I have a question. can I make new dataset only from time series."
* CTGAN version:
* Python version:
* Operating System:

### Description

Hello, My name is DOHYUN SOUNG who is bachelor student in Korea.
I want to generate dataset from my original data. That's why I used your CTGAN.
It's really nice and awesome. But, I need to make new dataset by my time series column.
When I used your model. It only creates time series data that already exists. I want to multip

[2020-09-03 05:16] dosoung commented on #70
<img width="266" alt="Screen Shot 2020-09-03 at 2 14 28 PM" src="https://user-images.githubusercontent.com/48678405/92073921-cec1de80-edef-11ea-90ef-e825909398fc.png">

above my image is my dataset when I used your model. it makes new dataset but its only depend on my time data.
In other words, I want to make new time series data for example,  2018-07-05 , 2018-02-04 like this one.
I don't generat

[2020-09-11 18:50] #69 closed

[2020-09-24 01:48] zgirson commented on #24
Adding to this conversation - using this gives me negative numbers where they should not be (cost totals, video counts, etc.).  I don't want to sound dumb but... how can I make this usable with all these 0s?  The data is naturally skewed with many 0s... it may be nice to add some sort of keyword arg to force positive outcomes somehow?  I'd love to use this package but can't do the negatives.

![im

[2020-09-28 13:45] csala commented on #24
Hi @zgirson thanks for reporting this.

We are working on it from the SDV side: https://github.com/sdv-dev/SDV/issues/200

SDV already provides an interim workaround which is explained on the issue itself, so please give it a try and feel free to follow up there if you have any doubt.

[2020-09-28 13:45] #24 closed

[2020-10-15 10:11] JulienGervai opened #72 "Limit the value of some variables"
* CTGAN version: latest
* Python version: 3.8.3
* Operating System: Windows 10

### Description
I would like to know if there is a way to limit the value that can take a non discrete variable.
For example if I have a variable named "age" which represent the age of some people, or a variable named "charges" which represent the charges you have to pay for something. These two variables cannot be neg

[2020-10-18 12:32] elisim commented on #60
In addition, `batch_size` option should be moved to `fit` function instead of in the `CTGANSynthesizer` ctor.
Now:

`
ctgan = CTGANSynthesizer(batch_size=128)
`

How it should be (IMHO):

`
ctgan.fit(data, discrete_columns, epochs=3, batch_size=128)
`

[2020-10-18 16:13] #62 closed

[2020-10-20 13:47] csala commented on #72
Hi @JulienGervai this issue is already being worked on in https://github.com/sdv-dev/SDV

Please have a look at this issue, which offers a few ways to get this working properly: https://github.com/sdv-dev/SDV/issues/200

[2020-10-20 13:47] #72 closed

[2020-10-20 13:48] csala commented on #70
Hello @dosoung we have recently introduced Timeseries models in https://github.com/sdv-dev/SDV!

You can find more details here: https://sdv.dev/SDV/user_guides/timeseries/par.html

[2020-10-20 13:48] #70 closed

[2020-10-20 13:52] csala commented on #66
Closing this, as the question has already been responded.

[2020-10-20 13:52] #66 closed

[2020-10-20 14:11] csala commented on #60
Thanks @k15z, I opened [an issue on SDV](https://github.com/sdv-dev/SDV/issues/211) to add this to the CTGAN model documentation, so I'm closing this one for now.

Thanks for the suggestion @elisim, but this was discussed [a long time ago](5) and we decided to move in another direction, so we will try to keep the hyperparameter organization as it is right now.

Also, bear in mind that we are pushi

[2020-10-20 14:11] #60 closed

[2020-10-20 14:15] csala commented on #61
Closing this issue, as the doubt has been already resolved.

No, we recommend using CTGAN through SDV, so you can access to both the constraints and all the other enhancements that SDV offers.

[2020-10-20 14:15] #61 closed

[2020-10-20 14:18] csala commented on #13
This feature has been covered in the PR #68

[2020-10-20 14:18] #13 closed

[2020-10-20 14:20] lizhipro opened #73 "Loss to nan"
* CTGAN version: 0.2.2
* Python version: 3.6
* Operating System: Linux ubuntu 16.04
* Pytorch 1.1.0, torchversion 0.3.0
* cuda 9.0

### Description

ctgan = CTGANSynthesizer()
ctgan.fit(data, discrete_columns=discrete_columns, epochs=2500)

Epoch 1, Loss G: 1.2144, Loss D: -1.0157
Epoch 2, Loss G: 0.6393, Loss D: -0.0552
Epoch 3, Loss G: 0.3184, Loss D: 0.2490
Epoch 4, Loss G: nan, Loss D: nan
Epo

[2020-10-20 15:11] csala commented on #43
I'm afraid this would not be possible within CTGAN, but it's something that we can definitely look at as a feature for SDV, so I'm transferring the issue there.

[2020-10-20 15:14] csala commented on #73
Thanks for reporting this @lizhipro I see that this was asked before in #47 , but I'm afraid I have never been able to reproduce it.

There @seansaito mentioned using the census dataset. Is this also the case here? Are you using the census dataset or your own data?

[2020-10-20 15:25] csala commented on #48
Both `NaN` values and data types are properly handled when [using CTGAN through SDV](https://sdv.dev/SDV/user_guides/single_table/ctgan.html), so this issue can be closed.

[2020-10-20 15:25] #48 closed

[2020-10-20 15:26] lizhipro commented on #73
In fact, i have try in several dataset census, adult, and covtype......, it always appears

---------------
I guess it might be because the version of torchvision is too old, because I don’t have permission to update the nvidia driver of the server, so I have to install the old version of torch and torchvision

[2020-10-20 15:41] csala commented on #73
Good point! That could be the issue, indeed, and I did not think about trying it.

I'll try to downgrade torch versions and maybe get my hands on an older CUDA environment to see if I can also reproduce it.

[2020-10-20 15:51] csala commented on #73
I can confirm that the torch (or the CUDA) version seems to be the issue. I can reproduce it with these versions:

- torch 1.1.0
- torchvision 0.3.0
- python 3.6
- CUDA (as seen by torch): 9.0.176

[2020-10-20 15:54] csala commented on #73
Using torch 1.2.0 or higher, which already use CUDA 10, it seems to be working fine.

[2020-10-20 16:01] lizhipro commented on #73
Thank you very very much for taking the time to reproduce the bug. I don’t know if you have a way to avoid this problem by modifying a small amount of code, because I currently have no permission to update the nvidia driver, so I can’t update cuda

[2020-10-21 08:32] JulienGervai commented on #72
Thank you @csala I am checking and it looks very good.

[2020-10-21 08:43] csala commented on #73
The culprit seems to be this issue: https://github.com/pytorch/pytorch/issues/22442

The problem shows up here: https://github.com/sdv-dev/CTGAN/blob/68a0661f2ef31e2b0f019cabed791457ae5e8b08/ctgan/synthesizer.py#L58

Sometimes this `gumbel_softmax` call returns `nan` values and this screws the optimization for the rest of the training process.

If you want to work around it temporarily you can eas

[2020-10-21 08:48] lizhipro commented on #73
Got it, Thank you so much !

[2020-10-21 09:01] seansaito commented on #73
Hi @csala and @lizhipro , thank you for looking into this issue!

As mentioned above, it appears that `functional.gumbel_softmax` is unstable for older versions of pytorch (I also had a similar restriction of not being able to upgrade!). I had implemented a workaround similar to the one above in my fork which fixed the issue.

https://github.com/seansaito/CTGAN/blob/0855c4aef9b458a1cc4f24b7be480fd

[2020-10-23 13:45] jhleonjg opened #74 "Error running the demo"
* CTGAN version: 0.2.2.dev2
* Python version: 3.7.5
* Operating System: Windows

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

Tried to run the demo by typing:

### What I Did in the command line:
import ctgan
data = lead_demo()
discrete_columns = ['workclass','education','marital_status', 'occupation','relatio

[2020-10-26 11:50] elisim opened #75 "Using sdv.ctgan or ctgan implementation using this repo?"
Hey,

I'm trying to modify CTGAN code. Unfortunately, it seems like the implementation here is missing core features (for example, handling NaNs in the dataset [1][2])
I looked for [sdv.ctgan](https://sdv.dev/SDV/user_guides/single_table/ctgan.html), but it's not clear how to modify CTGAN code through sdv.

What is the proper way for doing that?
Thanks

[1] [Not able to fit() CTGANSynthesizer() if

[2020-10-27 15:18] csala commented on #74
Hi @jhleonjg

There is a typo on the name of the `marital-status` column, which you wrote as `marital_status`.

Please make sure to copy and paste the examples, so you make sure that everything is written as expected.

[2020-10-27 15:18] #74 closed

[2020-10-28 09:14] csala commented on #75
Hello @elisim

If I understand the question properly, what you are asking is "How do I setup my development environment so I can modify the CTGAN code but still use it through SDV, so I can have all the advantages that it provides, like handling NaNs?"

If this is what you are asking, what you need to do is the following:

1. Clone CTGAN: `git clone git@github.com:sdv-dev/CTGAN`
2. Create the virt

[2020-10-28 09:16] csala commented on #75
Also @elisim just curious: What modifications are you doing?

Maybe you could open issues describing what you want to achieve so we can discuss how to approach the changes and eventually make them part of the project? Also, please feel free to ping me on slack if you want to discuss the changes there first.

[2020-10-30 05:06] ZagHe568 opened #76 "Unknown category in sample()"
* CTGAN version: 0.2.2
* Python version: 3.6
* Operating System: CentOS Linux release 7.8.2003

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

Trying to generate samples condition on one column.

### What I Did

ctgan.sample(1000, "workclass", "Private")
Just tried to run the code in QuickStart documentation.

[

[2020-10-30 12:12] csala commented on #76
Hi @ZagHe568 it seems there is a typo in the README instructions.

If you inspect the data you will notice that the workclass values in the dataset actually contain an empty space ` ` that precede the actual string:

[code]

So the call should actually look like this:

[code]

[2020-10-30 12:13] csala commented on #76
I already pushed the typo fix to the README.

Please @ZagHe568 feel free to reopen if it continues to fail.

[2020-10-30 12:13] #76 closed

[2020-11-04 09:12] elisim commented on #75
Thank you for your detailed answer.
Regarding my modifications, I will open an issue if it will be relevant to apply into CTGAN.

Thanks

[2020-11-04 09:12] #75 closed

[2020-11-04 09:37] elisim commented on #15
@csala  it will be very helpful.
IMHO, something similar to [Keras model.fit output](https://stackoverflow.com/questions/46218407/how-to-interpret-keras-model-fit-output), may be considered.

[code]

where `hist` is a dictionary containing the generator and discriminator loss per epoch, and may be extended to other metrics in the future.

[2020-11-04 09:57] ninamwa commented on #64
Hi @gautambak. Have you done any more work on this? I think I am looking for kind of the same behavior as you do :-)

[2020-11-05 16:16] csala opened #78 "Replace sklearn OneHotEncoder with RDT OneHotEncodingTransformer"
As it has been reported several times (#21, #48, #75), the current implementation of CTGAN does not support NaN values on categorical values because the OneHotEncoder that is being used cannot handle them.

Let's switch to the OneHotEncodingTransformer implemented in RDT, which sets the NaN values as just another category.

[2020-11-05 16:18] csala opened #79 "Drop Python 3.5 support"
On September 13th 2020 Python 3.5 reached its end of life, so we can stop explicitly supporting and testing it.

[2020-11-05 16:35] csala commented on #79
Changes should happen in all these places:

- List of python versions listed in the README.md
- Python versions in setup.py (`python_requires` + `classifiers`)
- Python versions in `tox.ini`
- Python versions in `.travis.yml`

[2020-11-05 21:26] #79 closed

[2020-11-06 00:13] #78 closed

[2020-11-08 07:05] Alikerin opened #82 "Change in WGAN-GP Discriminator Loss"
Please I will like to know the reason why the original WGAN-GP loss was modified from `loss_d = -(torch.mean(y_real) + torch.mean(y_fake))` to `loss_d = -(torch.mean(y_real) - torch.mean(y_fake))` in your code. Why did you change the sign? Thank you.

[2020-11-09 11:43] Alikerin commented on #82
Sorry, my bad!

[2020-11-09 11:43] #82 closed

[2020-11-10 07:05] #47 closed

[2020-11-10 07:05] #73 closed

[2020-11-10 18:44] gautambak commented on #64
Hi @ninamwa No luck/progress on my side. I couldn't figure it out.

[2020-11-10 19:36] csala commented on #64
I'd like to add some light to this topic and, if everything is clear, maybe we should close this issue to avoid future confusions.

What I think @gautambak and @ninamwa are trying to achieve is not really what CTGAN is intended for, since their goal seems to be to generate random values for a single variable based on fixed values for all the other variables. Is that right?

But CTGAN actually work

[2020-11-12 05:39] shreyanshs commented on #8
@Baukebrenninkmeijer just to confirm, the TGAN-WGAN implementation you are talking about is [https://github.com/Baukebrenninkmeijer/On-the-Generation-and-Evaluation-of-Synthetic-Tabular-Data-using-GANs/tree/master/tgan_wgan_gp](https://github.com/Baukebrenninkmeijer/On-the-Generation-and-Evaluation-of-Synthetic-Tabular-Data-using-GANs/tree/master/tgan_wgan_gp)?

[2020-11-13 04:41] fealho opened #87 "Sample function doesn't work"
* CTGAN version: 0.2.2.dev2

The conditional sample function from CTGAN currently doesn't work. If we try to run the demo code, it raises an error:
[code]

I believe the issue stems from this line in the transformer.py file:
[code]

Since ```info["encoder"]``` is a ohe, we are attempting to transform a list of lists. But if we look at the RDT OneHotEncodingTransformer documentation, this format is

[2020-11-13 15:52] Baukebrenninkmeijer commented on #8
@shreyanshs Yes, that is correct. However, it's quite old now.

[2020-11-13 20:55] privacyabout opened #89 "ModuleNotFoundError using CTGAN 0.2.2"
* CTGAN version: 0.2.2
* Python version: 3.8.5
* Operating System: Ubuntu 16.04

### Description

Describe what you were trying to get done.
I am just starting with CTGAN and hence trying to replicate the instructions.

Tell us what happened, what went wrong, and what you expected to happen.
- I did install ctgan using pip successfully. (pip install ctgan)
- I was using trying to load some data us

[2020-11-13 21:08] csala commented on #89
Hi @privacyabout

I'm afraid we recently added the `packaging` dependency but failed to add it to the `setup.py` of the project.
And, unfortunately, it somehow sneaked through our tests and made it into the release.

We will add it to the `setup.py` before the next release, but in the meantime you can work around it by simply running installing `packaging` with `pip`:

[code]

[2020-11-14 10:00] #89 closed

[2020-11-21 10:15] nisarkhanatwork opened #93 "ValueError: cannot reshape array of size 20 into shape (1,10) when ctgan.fit(dataframe, discrete_columns[0:1], epochs = 5) is called"
* CTGAN version:0.2.2
* Python version:Python 3.6.12 :: Anaconda, Inc.
* Operating System: ubuntu

### Description
I got error when the fit function is called for a single column. Please let me know whether I am doing something wrong.
## Describe what you were trying to get done.
from ctgan import CTGANSynthesizer
ctgan = CTGANSynthesizer()
ctgan.fit(dataframe, discrete_columns[0:1], epochs = 5)

[2020-11-21 16:02] HarisNaveed17 opened #94 "CTGAN generates negative numerical values for a column containing only positive values."
* CTGAN version: 0.22
* Python version:3.6.9 (Google Colab)
* Operating System: Ubuntu 18.04

### Description
Hello,
Thank you for open-sourcing your work. It's quite useful and educational.

I'm trying to generate synthetic examples from the Telecom Italia data set. The set contains two continuous columns that contain values between an order of 10^-2 and 10^1. All of these values are >=0.

Howeve

[2020-11-21 20:19] nisarkhanatwork opened #95 "limit on the number of columns of a table"
* CTGAN version: 0.2.2
* Python version:3.6.12
* Operating System:ubuntu

I tried to fit data that had 15-16k columns and ctgan tried to allocate 20 TB of memory and got runtime error shown below. Is there any limit on the number of columns we can have ?
[code]

[2020-11-24 12:40] Baukebrenninkmeijer commented on #95
There is no hard limit to the number of columns, but rather to the underlying encoding that you get. Since you're running into hardware limits, the limit also depends on the hardware you are running. However, with 2TB, there is no hardware that can support that. With 15k columns, it's always gonna be quite hard. You can try a very small batch size and see if that works (20 samples, for example).

[2020-11-24 15:24] nisarkhanatwork commented on #95
Since this is gene expression data, I am thinking all columns will help in generating more realistic data.
Quoting from this issue @csala  : [https://github.com/sdv-dev/CTGAN/issues/64#issuecomment-724921556]

I understood that it would be good to use all the variables...

I also tried to use the same data frame but by reducing the prediction to one column
[code]
but I am encountering the followin

[2020-11-24 17:36] csala commented on #95
Hi @nisarkhanatwork I'm a bit confused about what you are trying to achieve, especially regarding this:

Would you mind providing some clarification about what those 16k columns are (data types, etc.) and what your goal is?

On the other side, as @Baukebrenninkmeijer mentioned, there is not "hard limit" on the amount of rows or columns that you try to learn, but even if CTGAN managed to fit all th

[2020-11-24 18:08] nisarkhanatwork commented on #95
I have gene expression data having 16k different genes for each sample. And each gene expression value is an integer.

Can you please tell me some techniques to reduce the size ?

[2020-11-24 20:03] csala commented on #95
I think that there may be some misunderstanding about what CTGAN does. CTGAN is not a supervised predictive model which you can use to obtain the value of one or more columns based on the values of the other columns.

What CTGAN does is generate entire rows as indistinguishable as possible from the ones seen beforehand on the real dataset: If your dataset has 10 columns, CTGAN will sample rows wit

[2020-11-25 06:21] nisarkhanatwork commented on #95
I am considering my data as a table having 16k columns and 236 rows and I want to generate new rows using CTGAN.I am expecting CTGAN to learn from the given (236 rows) gene expressions and generate new ones.
As far as I know the earlier tools that generate synthetic gene data are not based on GANs and I am thinking CTGAN will really help in this area.

[2020-11-25 18:15] fealho commented on #94
Hi @HarisNaveed17 I recommend using [CopulaGAN](https://sdv.dev/SDV/user_guides/single_table/copulagan.html) from SDV if you want to add constraints to the generated data. CTGAN simply fits a gaussian to your data, so a few of the generated results will may end up negative.

[2020-11-25 18:16] fealho commented on #93
Hi @abhisheknagar1983 would you mind providing a small hand crafted example, so that we can reproduce the issue? Some additional context, such as what the dataframe and discrete_columns variables contain, will make it easier for us to help you.

[2020-11-25 18:22] nisarkhanatwork commented on #93
Hi,
Thank you for replying. Here is my colab notebook:

https://colab.research.google.com/drive/1Imuu8YiVKDIFWunu9dGW4xHFvGWuTWR2?usp=sharing

Thank you.
Nisar

[2020-11-25 18:35] #94 closed

[2020-11-25 18:41] fealho commented on #93
We're having some trouble accessing the data files since they're on your private google drive (/content/drive/MyDrive/riya_proj1/), would it be possible for you to provide access either here or privately via email?

[2020-11-25 18:46] fealho commented on #93
Also, your comment above seems to suggest that you're trying to model a single column; however, your code seems to actually be modeling all ~16k columns. The only difference is that all but one of them (i.e. all of the columns except TSPAN6) are being modeled as continuous values whereas TSPAN6 is modeled as a discrete column. I'm not sure if this was intentional?

[2020-11-25 18:49] nisarkhanatwork commented on #93
Sorry. Here is the link to the data :+1:

https://drive.google.com/drive/folders/1TWkmk4VYIu8cE1thXdkqXmAejVZNNBea?usp=sharing

[2020-11-25 18:59] nisarkhanatwork commented on #93
I want to model based on all columns, but it gave other problem which I am discussing in #95
By continuous, you mean they are not integers ? I want all columns to be integers.
What I understood is, if I give a set of columns as parameters(eg: discrete_columns[0:10]) it will create samples for that columns only.
And by specifying less number of columns in fit, I thought I will take less memory...

[2020-11-25 20:05] csala commented on #95
Hi @nisarkhanatwork

I'm afraid I don't think CTGAN (or any other synthetic data modeling engine) can handle a scenario lake the one you are exposing successfully.

But not because of the resources, but rather because in 236 rows there is not enough information for the model to learn the correlations across 16k columns.

In other words, no matter how good or efficient the model is, the 236 rows do

[2020-11-25 20:50] fealho commented on #93
It appears your dataframe has multiple columns with the same name. To verify this, you can run:

[code]

The list of duplicated columns is:

[code]

These columns cause the error. Can you try renaming the duplicated columns and check that it works?

[2020-11-26 13:17] nisarkhanatwork commented on #95
Thanks a lot @csala for guiding me. I will look into the options that you suggested.

[2020-11-26 21:10] primus852 opened #98 "Sampler: IndexError out of bounds"
* CTGAN version: 0.2.2
* Python version: 3.7 (Anaconda)
* Operating System: Windows 10

### Description
I tried to load a sample tsv file (instead of the adult demo). Unfortunately it crashes with various variations of the file (always the same structure).
### What I Did

[code]

### Traceback
[code]

index varies from file to file

[2020-11-27 03:09] nisarkhanatwork commented on #93
Hi @fealho @csala ,
Thank you.
So, large number of columns ~16k is not a problem for CTGAN.
It worked amazingly in my laptop which has got only 8GB RAM. But I got negative integers as some of the values.
As I have very few rows I have to consider #95...

[2020-11-27 07:55] sundyCoder opened #99 "discriminator loss is negative"
* CTGAN version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

loss_d = -(torch.mean(y_real) - torch.mean(y_fake))

if y_real is bigger than y_fake, the loss_d will be negative value(loss_d < 0), is it correct?

[2020-11-27 14:36] csala commented on #93
Great! Good to hear @nisarkhanatwork

In order to handle the negative values problem, please have a look at the [CopulaGAN model in SDV](https://sdv.dev/SDV/user_guides/single_table/copulagan.html), which adds a distribution transformation layer on top of CTGAN that covers this problem.

I'm closing the issue for now, as the original problem seems to be resolved.

[2020-11-27 14:36] #93 closed

[2020-11-27 20:05] csala commented on #95
As seen in #93, the number of columns was not really a problem, so this can be closed.

[2020-11-27 20:05] #95 closed

[2020-11-30 06:00] fealho commented on #98
Hi @primus852 you should be passing discrete_columns to the fit function, rather than all columns:
[code]
This will still fail though, because CTGAN doesn't handle NaN values in continuous columns. I recommend using [CopulaGAN](https://sdv.dev/SDV/user_guides/single_table/gaussian_copula.html) from SDV, which adds additional functionality to CTGAN, such as handling NaN values.

[2020-11-30 06:09] fealho commented on #99
Hi @sundyCoder I recommend checking issue #28, which looks similar to what you are asking for.

[2020-11-30 15:51] #99 closed

[2020-11-30 18:07] #98 closed

[2020-12-02 16:07] Baukebrenninkmeijer opened #101 "Discriminator should train more than generator"
The CTGAN does not implement the extra update iterations of the critic, when compared to the original implementation of WGAN and WGAN-GP. Is this intentional? In my experiments, I have seen that sometimes the generator becomes too powerful and exploits the discriminator. I think this might be improved by implementing the critic extra updates, compared to the generator.

![image](https://user-image

[2020-12-02 16:08] Baukebrenninkmeijer commented on #101
@csala I can create a PR for this if you like.

[2020-12-02 19:16] fealho commented on #101
Good suggestion! As long as you add the number of iterations as a hyperparameter, I'm all for it. @csala

[2020-12-02 20:04] shreyanshs commented on #101
Yes I have also seen the same thing as @Baukebrenninkmeijer describes. This suggestion should definitely serve as an improvement.

[2020-12-02 20:04] Baukebrenninkmeijer commented on #101
Yeah, indeed. I think it's most suited in the `.fit` function.

[2020-12-02 20:16] csala opened #102 "Move `log_frequency` to `__init__`"
https://github.com/sdv-dev/CTGAN/blob/821bb36bf53ef1ce16ab47525cacd92346232453/ctgan/synthesizer.py#L133

The `log_frequency` argument from the `fit` method is actually a hyperparameter, so it should be moved to the `__init__` method.

[2020-12-02 20:25] csala commented on #101
I like the suggestion @Baukebrenninkmeijer, and a PR would be very welcome !

Regarding where to put the argument, I'd prefer to add it as a hyperparameter, as @fealho suggested. In the `fit` method we should try to keep only the arguments that relate to the data which the model is being fitted to, and then have all the hyperparameters that control the learning process in the `__init__`.

Also, I

[2020-12-02 20:27] csala commented on #101
I just opened #102 too, since the `log_frequency` is escaping a bit this abstraction.

[2020-12-03 12:13] Baukebrenninkmeijer opened #105 "Rewriting `DataSampler` to pytorch `DataLoader` object"
If the datasampler can be rewritten to a normal pytorch dataloader, we can more easily integrate it with other deep learning frameworks like PyTorch Lightning and Horovod. Both facilitate multi-gpu training and distributed training, which can be super advantageous for larger (/corporate) domains.

[2020-12-03 12:32] Baukebrenninkmeijer commented on #15
In my own implementation I added loops using [tqdm](https://github.com/tqdm/tqdm) (progress bars) for both the epochs and steps. You can add logging information like loss there as well.

Related to how this information should be logged and also the proposal @oregonpillow did, I think the following: 1. The information that you're logging is really good and I like it a lot! The GPU stats are also a

[2020-12-03 12:43] Baukebrenninkmeijer commented on #4
This is now mostly solved, correct? I think this can be closed.

[2020-12-03 14:41] oregonpillow commented on #15
I'll be honest, the only reason I added GPU status was because I liked watching the temperature go up with more epochs 😏

[2020-12-03 15:08] #102 closed

[2020-12-03 17:23] #101 closed

[2020-12-08 09:45] LJT610 opened #109 "how to deal with the output of the G after training"
* CTGAN version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2020-12-10 13:26] SasikiranJ opened #110 "How to make training utilizes gpu?"
* CTGAN version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2020-12-10 14:22] csala commented on #109
Hello @LJT610 can you explain a bit what the question is?

[2020-12-10 14:25] csala commented on #110
Hello @SasikiranJ can you provide some context and explain a bit what the question is?

[2020-12-10 14:29] SasikiranJ commented on #110
when i am doing training on dataset it is using only cpu even though gpu exists and taking long time for training. I think if we can make model train on gpu it will train faster ?

[2020-12-10 14:33] LJT610 commented on #109
Hello @csala ,I am wondering how you deal with the discrete data generated by Generator ? For example, I train the network by adult data , and the Generator generates discrete data and continuous data, the generated discrete data may be <0, but the ordinal discrete data before trainging is ont-hot .

[2020-12-10 14:34] LJT610 commented on #109
one-hot, sorry :(

[2020-12-10 14:34] csala commented on #110
Got it, thanks for the details.

CTGAN always tries to use the GPU by default, so if your system has one available you should see it being used. If it is not, you may have installed a PyTorch version which is not compatible with the CUDA version of your GPU drivers.

Please have a look at the [PyTorch installation guides](https://pytorch.org/get-started/locally/) to find the right version to insta

[2020-12-10 14:40] SasikiranJ commented on #110
I am using kaggle notebooks for that. I think gpu readily available there

[2020-12-10 14:41] csala commented on #109
Please have a look at the [CopulaGAN model in SDV](https://sdv.dev/SDV/user_guides/single_table/copulagan.html) which wraps around CTGAN and provides a distribution modeling layer that [ensures that the values stay within the original range](https://github.com/sdv-dev/SDV/issues/200) while also improving the overall quality of the data.

[2020-12-10 14:41] #109 closed

[2020-12-10 14:46] csala commented on #110
You just need to ensure that running `torch.cuda.is_available()` returns `True`. If that happens, CTGAN will use the GPU.

If you get a `False`, the problem is related to the Kaggle notebooks setup, so you may want to search for pointers there.

[2020-12-10 14:48] SasikiranJ commented on #110
Ok. Thank you

[2020-12-10 14:48] #110 closed

[2020-12-18 17:44] fealho commented on #54
Closed on #106.

[2020-12-18 17:44] #54 closed

[2020-12-21 23:50] fealho commented on #9
Closing the issue, seeing as the `model_dir` parameter doesn't exist anymore.

[2020-12-21 23:50] #9 closed

[2020-12-22 00:24] fealho commented on #25
As @Baukebrenninkmeijer mentioned, using the discriminator/generator losses to decide whether a GAN has converged is an open research question, so we won't be implementing it at this time.

[2020-12-22 00:24] #25 closed

[2020-12-22 00:33] fealho commented on #52
Closing this issue, as it seems all questions have been answered.

[2020-12-22 00:33] #52 closed

[2020-12-22 00:38] #64 closed

[2020-12-22 17:19] Aditya-Agarwal-018 commented on #46
How to run the code without any discrete_columns?

I am trying with :
------------------CODE--------------------------------
# Names of the columns that are discrete
discrete_columns = None

ctgan = CTGANSynthesizer(epochs=10)
ctgan.fit(data, discrete_columns)
------------------CODE--------------------------------

But I get an error:

----> 2 ctgan.fit(df_all)

~\.conda\envs\py3_jupyter\lib\site-

[2020-12-22 18:14] fealho commented on #46
Hi @Aditya-Agarwal-018, this seems to be a different topic, would you mind opening a new issue?

[2020-12-22 23:51] Aditya-Agarwal-018 opened #115 "Synthetic Generation Limits"
* CTGAN version:
* Python version:
* Operating System:

### Description
Consider I am working on a classification problem, for this I have three questions:

1. Say I have:
    X_train_data = DataFrame of input features
    Y_train_data  = DataFrame of outputs linked to X_train_data

    When I will use CTGAN for data augmentation

    **ctgan = CTGANSynthesizer(epochs=10)
       ctgan.fit(data, di

[2020-12-23 09:33] csala commented on #115
Hi @Aditya-Agarwal-018

First of all, I wanted to quickly remind you that SDV offers a user friendly wrapper around CTGAN which offers serveral advantages over using CTGAN as a standalone library, including the [CopulaGAN variation](https://sdv.dev/SDV/user_guides/single_table/copulagan.html) which in some cases provides superior data quality.

Regarding your first 2 questions:

1. If you Y is not

[2020-12-23 17:40] fealho commented on #115
For your third point, I just created a release candidate that fixes the issue. So if you run ```bash pip install ctgan==0.3.1.dev0``` it should work now.

I'll be closing the issue, since it seems all your questions have been answered.

[2020-12-23 17:40] #115 closed

[2020-12-23 17:44] #55 closed

[2020-12-31 07:19] #35 closed

[2021-01-08 00:33] dimaanor opened #119 "Conditional Sampling"
* CTGAN version: 0.3.0
* Python version: 3.6.10
* Operating System: Amazon Linux AMI 2018.03

### Description

How can I conditionally sample the CTGAN model? Would inputting a similar encoding (as described in the paper) to the generator, but instead using a multi-hot encoding for several columns, work?

[2021-01-08 00:59] Iris-Di opened #120 "Near-zero variance problem"
Hi there,

We found that maybe because our data have a near-zero variance, CTGAN could not learn well from this column.  There is almost no correlation between the real data and the CTGAN data for this column. Is there any solution?

[2021-01-25 15:26] Aksh97 opened #121 "ValueError: max() arg is an empty sequence"
* CTGAN version: v0.3.0
* Python version: 3.8.3
* Operating System: Windows 10

### Description

For every dataset I pass, I get the error :
**ValueError: max() arg is an empty sequence**

Before the error prints and it halts, it shows:
ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), Conve

[2021-01-25 15:30] csala commented on #121
Hello @Aksh97 You are hitting issue #115 which as already been resolved. [Here you have instructions about how to work around it](https://github.com/sdv-dev/CTGAN/issues/115#issuecomment-750403870) until a new release is made, which will be done later this week.

[2021-01-25 15:30] #121 closed

[2021-01-25 15:33] csala commented on #120
Hello @Iris-Di I'm a bit confused about what the problem that you are describing. Would you mind providing some more details and maybe showing an example?

[2021-02-02 13:23] HarrisonWilde opened #122 "Version discrepancies breaking a lot of the code I find that depends upon this package, more a question of curiosity"
* CTGAN version: 0.3.1 and 0.2.2.dev1
* Python version: 3.8.5
* Operating System: Mac OS

### Description

Hi, this is somewhat of a question rather than an issue, I am using CTGAN as a base for code I have found elsewhere https://github.com/Tecnarca/patectsdgym/blob/master/sdk/patectgan/architectures/dpctgan.py and https://github.com/opendifferentialprivacy/smartnoise-sdk/blob/master/sdk/opendp/s

[2021-02-08 19:09] fealho commented on #122
Hi @HarrisonWilde, we redesigned the API in v0.3.0 to be easier to use while still providing the same functionality. The `ConditionalGenerator` that you mentioned has been merged with other parts of the code, so you should still be able to do what you were doing before.

[2021-02-10 03:02] #122 closed

[2021-02-10 19:39] csala opened #124 "Validate condition_column and condition_value"
If CTGAN is passed a wrong `conditional_column` or a wrong `conditional_value` it just ignores it silently and samples data without any conditioning.

This should be validated and a `ValueError` should be raised if either of those are wrong.

[2021-02-16 12:42] imkhoa99 opened #125 "Question about the PMF calculation in the Training-by-Sampling method"
I have one question to which I could not find the answer anywhere that I think you could clarify me. In the Training-by-Sampling method, it calculated the PMF value for each value in the discrete column D_i.

![Training by Sampling Process](https://user-images.githubusercontent.com/41847533/108064287-1ddd9200-7065-11eb-954d-64d528acf6dd.png)

Could someone explain why do we need to calculate the P

[2021-02-22 00:16] leix28 commented on #125
Let me give an example. In a table, there is a column containing 2 categorical values A and B, and another categorical column containing C, D, and E. There are a few numerical columns.

| | | | |
|:---:|:---:|:---:|:---:|
|A|C|0.5|...|
|A|D|0.6|...|
|B|C|0.1|...|

Assume that in this data, 9900 rows have A while only 100 rows have B.

- (Step 1) We will create an all zero vector m_1=[0, 0], m_2=[0

[2021-02-23 15:36] #124 closed

[2021-03-02 10:28] nrangelo1729 opened #131 "Calling CTGANSynthesizer.fit() now always fits from scratch, but trained_epochs parameter is not being reset"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.4.0
* Python version: 3.6.9
* Operating System: Linux

### Error Description

In previous versions, calling fit() multiple times would continue the training (data tranformer, discriminator, generator, etc were not re-instantiated at every call). Therefore, it made se

[2021-03-02 19:40] matteoguarrera opened #132 "Use the discriminator of the model after training"
### Problem Description

It seems that the library does not have the possibility to use the discriminator after the training. Is it true?

### Expected behavior

I believe that it is possible to add a _score function_ like **score_samples(X)** that enables the user to see the GAN discriminator
output for a given sample.

[2021-03-03 07:19] fealho commented on #132
Hi @matteoguarrera, you are correct, we currently do not plan to give access to the discriminator after training.

[2021-03-03 07:31] fealho commented on #131
Thanks for pointing this out! Yes, the "resume" functionality was removed in the refactor. @csala, any opinion on whether it makes sense to add this feature back? One concern here may be that errors may happen if you fit on some dataset and then try to fit on a different dataset. It might make sense to add this as a separate method (i.e. `partial_fit`).

[2021-03-03 07:33] imkhoa99 commented on #125
Thanks @leix28! I got it! It is true that having the log-frequency allows the model to explore available categories more evenly.

[2021-03-03 07:33] #125 closed

[2021-03-03 07:42] fealho commented on #120
HI @Iris-Di, I'll be closing the issue since you haven't provided further details in a while. Feel free to reopen it in case this is still an issue.

[2021-03-03 07:42] #120 closed

[2021-03-03 07:48] fealho commented on #119
Hi @dimaanor. You can pass the name of the column and the value for the column to the sample method [here](https://github.com/sdv-dev/CTGAN/blob/master/ctgan/synthesizers/ctgan.py#L393). Also, for better support, we recommend using CTGAN through SDV, which provides additional functionality and more user friendly APIs for conditional sampling.

[2021-03-03 07:48] #119 closed

[2021-03-03 07:51] #63 closed

[2021-03-03 09:12] matteoguarrera commented on #132
Thanks @fealho for the answer. I can do that and request a pull if you are interested.

[2021-03-04 09:35] MLjungg opened #133 "ValueError from validate_discrete_columns with uniqueCombinationConstraint"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.4.0
* Python version: 3.7
* Operating System: macOS

### Error Description

When adding an uniqueCombinationConstraint a ValueError is raised from validate_discrete_columns in the "fit" method of CTGAN. My understanding is that it occurs because the parameter "discre

[2021-03-05 00:50] fealho commented on #132
I'm glad to hear you would be willing to contribute to the project! Unfortunately, I don't believe this feature is a priority at the moment. Maybe in the future, if more people show interest, we may implement it in SDV, but for now you don't need to worry about it.

[2021-03-05 01:16] fealho commented on #105
This is a good idea but I believe it may take a significant amount of effort to actually implement it. I will shelve it for now, since there are other higher priority tasks, but I agree we should take a look at adding this feature in the future.

[2021-03-05 08:08] fealho commented on #133
Good catch! As you mentioned, the problem is actually in SDV, `validate_discrete_columns` is only doing its job and catching the error instead of letting it run silently. I'm working on a fix so this should be patched soon. Thanks for bringing this to our attention 👍

[2021-03-05 15:44] nrangelo1729 commented on #131
Thanks for the quick response!

I personally found the "resume training" feature useful when I was trying to determine how many epochs are necessary to build a good generative model. To this end, I sampled synthetic data from different epochs (1 sample after each 20 epochs of training) and then measured the quality of synthetic data to see where in caps/starts decreasing. If the "resume training"

[2021-03-05 18:20] #133 closed

[2021-03-08 11:43] csala opened #135 "TVAE: Adapt batch_size to data size"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.4.0

### Error Description

Current TVAE fails to be fitted on datasets that are shorter than the batch size (and it does it silently).

The culprit is the `drop_last=True` in this line: https://github.com/sdv-dev/CTGAN/blob/38f0d30e2b55043112cc52338708dfce344fcbe8/c

[2021-03-10 18:26] csala opened #137 "Optimize batch size"
### Problem Description

Currently (and even after #135) is resolved, the last batch from the dataset loader is dropped if it is shorter than the batch size, potentially resulting in dropping a considerable portion of the dataset.

For example, if a dataset has 999 rows and the batch size is 500, 499 rows are being currently dropped.

### Expected behavior

We should think about a way to optimize

[2021-03-11 07:39] #135 closed

[2021-03-12 00:03] fealho opened #138 "TVAE: Code not properly capturing correlation between categorical and numerical columns"
If we run the code below, we will see that sampled correctly keeps the relationship between the categorical values ~99% of the time:

[code]

However, if we change column 1 to be numerical, the model is unable to understand the relationship between the columns, and the matches are pretty much random:

[code]
This returns:

[code]

[2021-03-12 00:11] fealho opened #139 "Modularize CTGAN fit function"
Currently, the fit function for the CTGAN synthesizer is a 140 line piece of dense code accomplishing a lot of important tasks. Modularizing it in to the same standard as some of our other libraries (such as DeepEcho) would make it much more readable and testable.

[2021-03-16 12:48] belcheva opened #141 "Save fitted transformer object"
### Problem Description

When working with large datasets fitting the transformer to the data takes a long time (for example a sample of 500 000 rows and 1500 columns takes around 10 hours). Currently we use a self-built-in feature in the .fit() method of the CTGANSynthesizer class to save and load a fitted transformer object.

Maybe these adjustments could be useful for other users working on lar

[2021-03-17 16:21] fealho commented on #141
Hi @belcheva, could you elaborate a little more? Do you mean that you're saving and restoring the DataTransformer so that you can re-use it between multiple training runs and/or between multiple calls of `fit`?

Also, note that the transformer does not run on the GPU, only the main model does.

[2021-03-18 13:11] belcheva commented on #141
Hi, @fealho, sorry, for this question the GPU was indeed irrelevant.

The idea is to be able to save and restore the DataTransformer between mutliple calls of `CTGANSynthesizer.fit()` when using the same data for training different models.

When you train a new model with different parameters you don’t have to call `DataTransformer.fit()` again. You can instead load the fitted DataTransformer you

[2021-03-22 11:14] csala commented on #46
As explained [in this SDV issue](https://github.com/sdv-dev/SDV/issues/336#issuecomment-797004358), the loss ranges on their own are no indicative of good or bad training outcomes, so no conclusions can be reached unless the quality of the generated data is [evaluated using external metrics](https://sdv.dev/SDV/user_guides/evaluation/evaluation_framework.html).

This issue is also old and probably

[2021-03-22 11:14] #46 closed

[2021-03-22 17:38] lindseyrayborn commented on #94
Hi, if I use CopulaGAN do I use the same citation as for CTGAN or a different one?

[2021-03-23 02:22] fealho commented on #141
@csala what do you think? I can see the use of this for CTGAN, but I’m not sure if it’s applicable to SDV as well.

[2021-03-23 21:15] csala commented on #141
Well, the interesting thing is that this functionality is actually already implemented in SDV! In SDV all the tabular models fit a `Table` object, which you can later on export and re-use across multiple models without having to refit it. The problem here is that the `DataTransformer` is not being used at the `Table` level, but rather as part of the CTGAN core, which means that CTGAN cannot take a

[2021-03-24 16:38] csala commented on #131
Thanks for the suggestions @nrangelo1729

As @fealho mentioned, the removal of the feature was intentional to fully ensure that CTGAN is aligned with the API and behavioral standards of SDV. `trained_epochs` was actually a remainder o the previous implementation and was later removed on #134

Apart from that, some of the things that you are suggesting, like the quality evaluation every few epochs,

[2021-03-24 16:38] #131 closed

[2021-03-28 11:41] belcheva commented on #141
@csala We use this to speed up parameter tuning and find out which architecture gives the best quality for our dataset.
From my understanding, to test different layer architectures and learning parameters each time we need to initiate a new CTGANSynthesizer class. With this the transformer gets initiated again and needs to be refitted to the data. With a saved transformer we can load the fitted tr

[2021-04-09 22:58] apavlo89 opened #142 "How can I generate values that are equal or higher than 0"
Is there a way I can generate rows with this parameter? Thanks!

[2021-04-12 09:35] DingfanChen opened #143 "TVAE: loss function"
The current implementation of the loss function in TVAE employs a Gaussian distribution for the mode indicator variable $\beta$ (and the loss is only computed for the last dimension of the variable $\beta$), which seems inconsistent with the description in the paper.

Replacing the "or" by "and" in Line 57 seems to solve this issue, or if I miss anything? Thanks.

[2021-04-12 15:56] fealho commented on #142
Hi @apavlo89 if you want to add constraints to the data I recommend using CTGAN through [SDV](https://github.com/sdv-dev/SDV). For a tutorial on how to use it, check [here](https://sdv.dev/SDV/user_guides/single_table/ctgan.html).

[2021-04-12 15:56] #142 closed

[2021-04-12 16:00] fealho commented on #143
Hi @DingfanChen, that's a very good catch! You are correct, I'll fix this issue as soon as possible. Thanks for notifying us :thumbsup:.

[2021-04-14 01:28] fealho commented on #94
Hi @lindseyrayborn would you mind opening a new issue with your question? That way we can keep things more organized, and other users with the same question can find the solution more easily.

[2021-04-14 15:33] #143 closed

[2021-04-19 12:32] Zepp3 opened #148 "Problems with installation of CTGAN"
Hi,

I'm trying to install CTGAN but I get the following list of errors:

[code]
Can anyone help me there? Thanks ins advance!

[2021-04-20 07:56] FlorentRamb opened #149 "Add callback"
### Problem Description

Adding a callback during training would allow to implement an early stop strategy (using for instance the _NMI_ or the score of a supervised task), or at least to print additional information.

### Expected behavior

The callback will be fed to the `fit` method of `CTGANSynthesizer`. It could add one argument: a dictionary containing one key with the callback class and ano

[2021-04-21 01:14] fealho commented on #148
Hi @Zepp3, if you used `pip` to install it, could you try using `conda` instead? Just run the following command: ```conda install -c sdv-dev -c pytorch -c conda-forge ctgan```.

[2021-04-21 12:35] Zepp3 commented on #148
Hi @fealho,

thanks for your answer. Unfortunately, It also doesn't work installing with conda ...

[2021-04-23 16:31] Zepp3 commented on #148
Noticed that one has to be sure to install with python 3.8 when having version 3.9 of python also installed by going with `py -3.8 -m pip install ctgan` (for Windows).

[2021-04-23 16:31] #148 closed

[2021-04-26 09:31] Zepp3 opened #150 "ValueError: could not convert string to float: 'no'"
* CTGAN version: v0.4.1 - 2021-03-30
* Python version: 3.8
* Operating System: Windows 10

Hi,

I try to use CTGAN with my dataset which contains columns with strings. CTGAN should handle strings as far as I know but by running it I get the following error:

[code]

Can anyone guess what is wrong with the string "no". I tried stripping to be sure no whitespaces are in the dataset but it didn't hel

[2021-04-28 20:08] liuzrcc opened #151 "Single thread data transform is slow for huge table"
### Problem Description
About `DataTransformer.transform()` in  `ctgan/data_transformer.py`. If the data has both too many rows and columns, the processing speed is quite low. For data of ~1.5M rows and ~1500 discrete columns, the transformation will take ~3 hours.

### Expected behavior
Have you considered making [the column traverse](https://github.com/sdv-dev/CTGAN/blob/1d6de8df0e4331c4173bab7d

[2021-04-30 08:55] Zepp3 commented on #150
I forgot to add the two columns with the `no` strings to the discrete columns. I changed that, now it works.

[2021-04-30 08:55] #150 closed

[2021-05-04 22:57] gagank1 commented on #132
I think this would be useful too. It could be used for checkpointing and early stopping on a validation set held out of the real dataset.

[2021-05-21 17:38] npatki commented on #151
Hi Zhuoran, thanks for filing this feedback! We're aware that there are many performance-related suggestions and I think it'll make a good focus for a future release.

Let's keep this open and I'll label this as a new feature. We can use this space to discuss parallelization in CTGAN, and will update it once we have improvements.

[2021-05-25 12:54] Zepp3 opened #153 "Discrete columns using CTGAN through SDV"
Hi!

I want to use CTGAN through SDV, so I can build constrains. But as far as I can see it is not possible to name the discrete values of the data. How does the algorithm know the discrete columns then by using CTGAN through SDV?

[2021-05-25 13:54] Zepp3 commented on #153
I decided to switch to copulaGAN to build constrains and set distributions. Unfortunately I'm asking myself the same questions there. Therefore I opened another issue: https://github.com/sdv-dev/SDV/issues/445

[2021-05-25 13:54] #153 closed

[2021-05-27 07:39] Zepp3 opened #154 "Conditional Sampling"
Hi!

Is conditional sampling also in the CTGANSynthesizer implementation possible or only in the implementation through SDV?

[2021-06-04 07:57] ItsyPetkov opened #155 "Different shapes after running data_transformer.py"
Hi, why does transforming the same data multiple times lead to different results. I tried this a couple of times while testing a different model and I noticed the transformed data had a different shape every time I run the code. Why is this so?

[2021-06-08 17:32] npatki commented on #155
Hi, to answer your Q, we need a bit more info.

Can you clarify a bit about what you mean by "transforming the same data multiple times"? Are you taking the same exact input data and noticing different outcomes every time it's transformed? Or are you taking the initial data `D`, transforming it to `D'` and then transforming `D'` again into `D''`?

Also, what are the changes in shapes you're observ

[2021-06-09 20:27] fealho commented on #155
Another possible cause is that the [bayesian GMM](https://github.com/sdv-dev/CTGAN/blob/master/ctgan/data_transformer.py#L36) used to transform continuous values isn't deterministic. Basically, it works by transforming the continuous values into a new vector representation with of (N+1) dimensions, where N is the number of clusters. The value N is learned from the data and can vary every time you

[2021-06-11 08:33] Zepp3 opened #157 "'Unexpected value {value} in synthetic data."
Hi!

Does anyone know how the following warning arises?

[code]

The string `False` is just an example, the warning appears with every string in the dataset.

[2021-06-22 10:35] fealho commented on #155
I'll be closing this issue, since it seems like your question was answered. Feel free to reopen it if you need further clarification.

[2021-06-22 10:35] #155 closed

[2021-06-22 10:44] fealho commented on #154
Hi @Zepp3, conditional sampling is only possible through SDV.

[2021-06-24 09:04] Zepp3 commented on #154
@fealho Thanks!

[2021-06-24 22:51] #154 closed

[2021-06-27 11:04] ori-katz100 opened #158 "A small error in your code"
Hello,
I think that you have a mistake in the file "ctgan.py" line 363: you wrote "fake_cat = fake" but it should be "fake_cat = fakeact".

Best,
Ori

[2021-07-09 14:23] Zepp3 opened #161 "optuna pruning or early stopping"
Hi!

Has anyone already worked out a way to use pruning or another way of early stopping with CTGAN? I guess one has to edit the code of CTGAN itself to include pruning into the for-loop which runs through the epochs.

[2021-07-12 14:08] MariamDundua opened #162 "Generated new data contains Unexpected Values."
### Environment details

* CTGAN version:
* Python version:3.8.3
* Operating System: Windows 10

### Problem description

I have a pandas data frame (50000,20) with several continuous columns. Some of them are non-negative because of their meaning. But generated data contains negative values as well. What is the reason? I trained Ctgan on 50 epoch

[2021-07-13 13:14] tjhallum commented on #162
I'm having a very similar issue. I have a data set of events and each event occurs on a day of the month. Within the original data set, the day_of_mo column ranges from 1 to 31...however, CTGAN produced several synthetic events with day_of_mo values that were greater than 31.

Notably, I did instantiate the CTGAN model object using the default arguments (specifically, min_value & max_value set to

[2021-07-13 14:03] MariamDundua commented on #162
I am using CTGANSynthesizer.
Here is my code

from ctgan import CTGANSynthesizer
ctgan = CTGANSynthesizer()
ctgan.fit(data, discrete_columns,epochs=50)
Is there the same solution for my model?

[2021-07-13 19:04] tjhallum commented on #162
@MariamDundua,

I received a [working solution](https://github.com/sdv-dev/SDV/issues/513#issuecomment-879172814) over on the `sdv` GitHub.

The short story is that they just published the latest release of `sdv` yesterday - 0.11.0.

With that version of `sdv` this issue of unexpected values with `CTGAN` has been resolved.

`pip install sdv==0.11.0`

Then, fully restart your Jupyter Notebook/data

[2021-07-13 20:03] MariamDundua commented on #162
Thank you, It's works

[2021-07-13 20:03] #162 closed

[2021-07-14 17:47] fealho commented on #158
Hi @ori-katz100, that's a great catch! It actually improves performance quite a bit, so thanks a lot!

[2021-07-14 17:47] #158 closed

[2021-07-15 15:15] csala opened #163 "Add support for Python3.9"
The changes involved are:

- [ ] Change the `setup.py` python specifications
- [ ] Review the dependency ranges to ensure compatibility
- [ ] Add Python3.9 to `tox.ini`
- [ ] Add Python3.9 to `.github/workflows/tests.yml`
- [ ] Add 3.9 to the list of supported Python versions in the `README.md`
- [ ] Any other changes required in the code that may show up during testing

[2021-07-27 01:01] johnhalloran321 commented on #141
Hi @belcheva, I've been interested in exactly the feature you've described, i.e., loading the fitted transformer data for later use.  Could you make your code available?

[2021-07-29 08:56] ori-katz100 opened #164 "Problem with loading to a cpu a model that was trained in CUDA"
I trained a model at AWS, saved it, but when I try to load it on my personal computer I get the following error:

~\AppData\Roaming\Python\Python37\site-packages\sdv\tabular\base.py in load(cls, path)
    559         with open(path, 'rb') as f:
--> 560             return pickle.load(f)

RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False. If you a

[2021-07-29 17:51] saichaitanyamolabanti opened #165 "How to use SDV Constraints within CTGANSynthesizer Class ?"
I have to use CTGANSynthesizer class because it treats discrete and continuous columns separately and while searching online i found constraints can only be included in CTGAN class which comes from SDV library. So, can anyone help me how to utilize Constraints in CTGANSynthesizer class which comes from ctgan library.

[2021-07-30 16:43] csala commented on #165
[This was responded on the SDV Slack space](https://app.slack.com/client/T017A503B3M/C01736V6ME2/thread/C01736V6ME2-1627580635.051000), so it can be closed.

Reproducing the response here:

[2021-07-30 16:43] #165 closed

[2021-08-11 15:53] fealho opened #166 "Upgrade dependency ranges"
The latest versions of `pandas` is not currently supported:

| Library | Upper bound (unsupported) | Latest release |
|-|-|-|
| `pandas` | 1.1.5 | 1.3.1 |

We should investigate why and update the code if necessary to support them.

[2021-08-19 12:17] Baukebrenninkmeijer commented on #158
Oh wow, this is a super important difference :')

[2021-08-20 16:00] ItsyPetkov opened #167 "Do you support 3D data as inputs?"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version:
* Python version:
* Operating System:

### Problem description

### What I already tried

[code]

[2021-08-27 08:01] jeiglsperger opened #168 "How to force CTGAN to use CPU?"
As already mentioned I want to force CTGAN to use the CPU. Is there any build-in method to do so?

[2021-08-27 10:29] tejuafonja opened #169 "discrete_column_matrix_st from data_sampler class is always 0"
Hello,

I noticed that `discrete_column_matrix_st` from the [data_sampler class](https://github.com/sdv-dev/CTGAN/blob/2dbbc18770d0dc17e7c5e83da6980ace424e9326/ctgan/data_sampler.py#L17) is not updated and it's always 0. If this is the case, then the function `sample_original_condvec(self, batch)` would not be picking the correct category of the discrete column. I'm not sure if this is the desired

[2021-08-27 14:25] #168 closed, assigned to nobody

[2021-09-06 10:57] pvk-developer commented on #149
Hello @FlorentRamb , thank you for your proposition.

We will have a discussion with our engineering team whether or not we want to add this in the future or not. We will move the discussions here if that's the case.

Thank you

[2021-09-07 11:51] pvk-developer commented on #157
Hi @Zepp3 , this warning actually arises from `sdmetrics`, I assume when you are trying to `evaluate` your synthetic data. You can ask this question on [SDMetrics](https://github.com/sdv-dev/SDMetrics/) library. I will close this one here.

[2021-09-07 11:51] #157 closed

[2021-10-21 05:07] julanchen opened #172 "How does the imbalance resampling for the binary classification generate only the less types of samples by TVAE"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.4.3
* SDV version 0.12.0
* Python version:3.8.3
* Operating System: 64

### Problem description

### What I already tried

<!--when I change the following code, I can just generate data1('Driver_Severity' : 1)
[.....
data = pd.conca

[2021-10-21 12:31] Kaabachi opened #173 "Improve correlation for low cardinality, discrete data"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.4.3
* Python version: 3.8.5
* Operating System: Linux

### Error Description

When I generate data with CTGAN on numerical data, the correlation is not maintained between the different columns ( see figure ).
It is possible to reproduce my experiment below:

![corr](

[2021-10-28 14:29] pvk-developer opened #174 "Add `pip check` to CI workflows"
The current CI workflows and local test and lint commands do not catch dependency incompatibilities.

For example, installing the repository for development on the `master` branch results in these errors:

[code]
A pip check command should be made part of the local and CI tests to make sure that our dependency tree is always clean.

[2021-10-29 13:33] pvk-developer opened #176 "Increase code style lint"
### Problem Description

Currently our code is being validated only by `flake8` 'vanilla' and just a few plugins. We would like to increase the code style checks by adding more add-on's that follow our code style and our standards.

Also we would like to ensure that our docstrings are properly written and follow the rest of our format.

### Additional context

We have performed this task already o

[2021-11-02 15:19] leix28 commented on #172
I believe CTGAN under the SDV wrapper cannot do the conditional sampling.

https://github.com/sdv-dev/SDV/blob/f2053ad1502b23547f9941837fd13249042a68a7/sdv/tabular/ctgan.py#L80

The conditional sampling is degenerated to a default rejection sampling.

If you need to use the CTGAN's conditional sampling proposed in my paper, please use the `CTGAN` library directly rather than `SDV`.

[2021-11-11 12:15] #174 closed

[2021-11-11 12:16] pvk-developer opened #177 "Add support for Python 3.9"
CTGAN should now support python 3.9

[2021-11-18 15:58] xamm opened #179 "Making training progress visible to the user"
### Problem Description

At the moment it is not possible to see the training progress when training a CTGAN or TVAE model.
For CTGAN logging when an epoch has finished is possible, but how long an epoch will approx. take or which batch is currently processed during an epoch is not visible.

### Expected behavior

Being able to see which batch is currently processed in a progress bar would be nice

[2021-11-18 16:04] xamm opened #180 "Saving/Using best model after training"
### Problem Description

When training for multiple epochs the best model might not be the one trained with all epochs.
At the moment the "latest" model is used for sampling data.

### Expected behavior

It would be good to have an option to save or return the best model.
For example giving an option during `.fit(load_best=True)` could load the best model when finished training.

[2021-11-18 16:58] #177 closed

[2021-11-24 15:49] fealho opened #194 "`test__validate_discrete_columns` needs to be rewritten"
The following test is currently an integration test and needs to be changed to a proper unit test:

https://github.com/sdv-dev/CTGAN/blob/89c6650dee814c448a45e95393e6ca1d12eb8e51/tests/unit/synthesizer/test_ctgan.py#L265-L296

[2021-12-02 17:01] #176 closed

[2021-12-06 00:44] NadeemNicoR opened #195 "Generate a part of the data(say 3 features) given complete data (with 10 features including the 3 features that needs to be generated)"
I have two datasets , lets call them as D1 and D2
D1 has only Sensor data while D2 has Sensor data + geometrical data. now D1 size is way more than D2, D2 is around lets say 1000 and D1 is around 15000  examples, I want to use the D2 data to some how generate the geometrical data given Sensor data (use conditional generator). so that i can generate Geometrical data for D1 and associate it with the

[2021-12-08 18:02] fealho commented on #180
Hi @xamm, I agree it would be great if we could select the best model instead of the final one, but unfortunately there is no simple way to implement such feature. Evaluating the performance of a GAN is an open research question, as there is "_no way to objectively assess the progress of the training and the relative or absolute quality of the model from loss alone._" (quoted from [here](https://m

[2021-12-08 18:13] xamm commented on #180
Hi @fealho does the same hold for the TVAE model?

[2021-12-09 08:48] juliecious opened #197 "Generator param size differ"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.4.3 dev2
* Python version: 3.8
* Operating System: MacOS

### Problem description

I trained multiple CTGAN models with the exact same data set (demo adult income data set). After training, I tried to average the learnable parameter

[2021-12-13 00:01] NadeemNicoR commented on #15
Can i please know what is the metric used here in the loss calculation
Epoch 105, Loss G: -7.7396, Loss D: -0.3223, this is what i get when i try to fit the model over the training data

[2021-12-14 09:38] xamm commented on #149
I changed the PR to showcase what my Idea would be and described it in [this](https://github.com/sdv-dev/CTGAN/pull/196#issuecomment-993346875) comment in the PR.

[2021-12-14 09:39] xamm commented on #180
I changed the PR to showcase what my Idea would be and described it in [this](https://github.com/sdv-dev/CTGAN/pull/196#issuecomment-993346875) comment in the PR.

[2021-12-20 17:15] fealho opened #198 "Use RDT's BGMMT"
RDT has just added an implementation of the `BayesianGaussianMixture` currently present in the `DataTransformer` class. We should update the `DataTransformer` to use RDT instead of re-implementing it here.

[2021-12-26 17:33] guoxixi1982 opened #200 "In TVAE code，I can not find the parameter that for conditional sample，unlike the CTGAN code"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version:
* Python version:
* Operating System:

### Error Description

### Steps to reproduce

[code]

[2021-12-31 21:57] NadeemNicoR opened #201 "even after setting the random seed value constant i still con not produce the same results"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.13.0
* Python version: 3.8
* Operating System: win10

### Error Description

### Steps to reproduce

[code]

[2021-12-31 21:57] NadeemNicoR commented on #201
i have different epoch size defined but the same batch size and the random seed
you can see in the picture on how the value slowly starts to deviate and then you have completely non matching values in the end in terms of G and D loss

[2022-01-10 09:54] acivit commented on #164
Hello!

Were you able to solve this bug?

Thanks!

[2022-01-11 07:37] sparshgarg23 opened #202 "convergence warning while running CTGAN demo"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version:0.5.0
* Python version:3.9.7
* Operating System:windows 10

### Error Description

While running CTGAN demo on my system,I encountered the following warning
ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol o

[2022-01-12 12:08] #198 closed

[2022-02-08 08:15] Baukebrenninkmeijer commented on #15
@NadeemNicoR De metric is raw logit output iirc. The loss of G is just the average error of the samples produced by G. The loss of D is the loss of G - the loss of the real samples. I'm doing this by heart, so let me know if this is incorrect.

[2022-02-14 04:35] hhcNWPU opened #205 "Hello, I can't see the evaluation index after the code runs."
Hello, I can't see the evaluation index after the code runs.
What are the evaluation indicators?
How to calculate the evaluation index?
As a newcomer, I don't know how to evaluate a well-trained model.
Please help me.

[2022-02-17 00:00] katxiao opened #207 "Allow setting the random number generator state"
### Problem Description

In addition to allowing a random seed, we should allow users to set the random number generator's state. This includes both the `numpy.RandomState` and also the `torch.Generator` random state.

[2022-04-01 09:15] Harshitha-HM1999 opened #210 "Cross correlation issue"
Whether there is any functionality by CTGAN that checks for cross correlation.

[2022-04-27 09:10] Mfk98 opened #212 "TVAE Loss?"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.5.1
* Python version: 3.9
* Operating System: Windows 11

I was looking to plot the loss of the TVAE model
However after a few epochs the loss is a large negative number and sinking.
Example after 1000 epochs i get -72.
I was wonder

[2022-04-28 06:49] limhasic opened #213 "ctgan.set_random_state() does not work"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: 0.5.1
* Python version:  Python 3.8.12 (default, Oct 12 2021, 13:49:34) [GCC 7.5.0] :: Anaconda, Inc. on linux
* Operating System: ubuntu 20.04

### Error Description

 **just generate random numbers**

![image](https://user-images.githubusercontent.com/63271642/165693

[2022-04-28 07:44] JonathanDZiegler commented on #169
I agree that this needs attention. Besides `sample_original_condvec`, `generate_cond_from_condition_column_info` is also affected. In the current state, the condition vectors created are not correct. Thanks @tejuafonja for suggesting a fix!

[2022-04-28 08:21] JonathanDZiegler commented on #169
The fix seems to have an issue with mixed tables. Your code also counts continuous columns, which is not correct. A simple expansion to two counters (one overall and one for discrete columns) seems to do the trick:

[code]

[2022-05-01 10:11] tejuafonja commented on #169
Thanks for improving the suggested fix!

[2022-05-04 01:05] limhasic opened #214 "whats the different with CTGAN and CTGANSynthesizer"
i wonder whats the different with ctgan and CTGANSynthesizer

numpy or sklrean version differ?

Are there any functional differences?

[2022-05-05 18:34] davebulaval opened #215 "Fix SettingWithCopyWarning (may be leading to a numerical calculation bug)"
When doing the TVAE or CTGAN tutorial, one gets a lot of `SettingWithCopyWarning` due to the following [line](https://github.com/sdv-dev/CTGAN/blob/357177806a0523ce94a0b199c0914fd8849e51b3/ctgan/data_transformer.py#L111).

I found a bug by deeply looking at the code and trying to figure out some things.

I was not quite sure of the objective of doing such a flatten operation on single-line column

[2022-05-05 18:42] davebulaval opened #216 "Use a List instead of a Bool"
The method `transform` of the `BayesGMMTransformer` is the [following](https://github.com/sdv-dev/RDT/blob/74ffcb72aaddf434b31f09bcbdfcda66457539b0/rdt/transformers/base.py#L232): `def transform(self, data, drop=True):` where `drop` is a bool according to the doc. However, [here](https://github.com/sdv-dev/CTGAN/blob/357177806a0523ce94a0b199c0914fd8849e51b3/ctgan/data_transformer.py#L113) during t

[2022-05-05 21:45] davebulaval opened #218 "Protected-like attribute in CTGANSynthesizer"
Is there a particular reason why `CTGANSynthesizer` uses protected attributes?

If not, I propose to change it to normalize the attribute naming style.

[2022-05-05 22:02] davebulaval opened #221 "Progress Bar for Training"
I propose to use [TQDM](https://tqdm.github.io/), which offers a nice progress bar to integrate the training progress.

[2022-06-07 19:09] oriel9p opened #223 "Pandas performance warning"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: latest (June 7th, 2022)
* Python version: 3.9.10
* Operating System: windows (python venv)

### Error Description

pandas performance warning

### Steps to reproduce

I was simply running the model with arbitrary columns and the mimic-iv data.

[code]

[2022-07-04 20:09] rromanini commented on #55
Hello guys, Is there any plan to include differential privacy in the library? Will be a great functionality to this library!!!

[2022-07-07 18:19] pvk-developer opened #224 "Update the RDT version to 1.0"
Update the current `RDT` version to `1.0` and the new `API` that this presents.

[2022-07-08 18:39] #224 closed

[2022-07-11 19:16] npatki commented on #15
#147 addressed this issue so I'm closing it off. For further discussion about the `verbosity` parameter, let's use the overall SDV GitHub.

[2022-07-11 19:16] #15 closed

[2022-07-11 19:18] #149 closed

[2022-07-11 19:21] npatki commented on #207
This general request may apply to more than just CTGAN. Let's continue this conversation in the main SDV repo. See [Issue #586](https://github.com/sdv-dev/SDV/issues/586).

[2022-07-11 19:21] #207 closed

[2022-07-11 19:40] npatki commented on #221
Since this issue applies to more than just CTGAN, let's use [SDV Issue #579](https://github.com/sdv-dev/SDV/issues/579) to track it.

[2022-07-11 19:40] #221 closed

[2022-07-11 20:16] #166 closed

[2022-07-12 16:29] npatki commented on #214
Hi @limhasic, nice to meet you.

[`CTGANSynthesizer`](https://github.com/sdv-dev/CTGAN/blob/master/ctgan/synthesizers/ctgan.py#L96) is a class written in this library. It contains the code for the GAN-based fitting and modeling. Meanwhile, [`CTGAN`](https://github.com/sdv-dev/SDV/blob/master/sdv/tabular/ctgan.py#L92) is implemented in the SDV library as a wrapper around `CTGANSynthesizer`. It prov

[2022-07-12 16:36] npatki commented on #218
From a quick glance at the `CTGANSynthesizer` code, it doesn't seem to be declaring attributes any differently than the rest of the SDV ecosystem. If you are able to point to particular lines of code that are inconsistent, we can take a look. Otherwise, it is currently out of scope for us to redefine our code style.

[2022-07-12 16:36] #218 closed

[2022-07-12 16:39] npatki commented on #205
Hi @hhcNWPU, nice to meet you. Could you describe what is meant by "evaluation index"?

Some general notes on evaluation:

1. You can use `verbose=True` when fitting your CTGAN model. This will print out the generator and discriminator loss at every training epoch.
2. Once you have trained your model, generate some synthetic data. You can then evaluate the synthetic data vs. the real data using th

[2022-07-12 16:45] npatki commented on #202
Hi @sparshgarg23, the convergence warnings may indicate that the model having some trouble with mathematical optimization for that particular epoch. I see this frequently. It is not indicative of a bug and it usually does not correspond to any degradation in synthetic data quality.

Let's repurpose this issue as a feature request to investigate such warnings and figure out if we can safely silence

[2022-07-12 16:48] npatki commented on #195
Hi @NadeemNicoR, this feature is not currently available and I can't think of an easy way to make this adjustment. It would likely involve some tweaks to the modeling algorithm itself.

BTW the general feature request applies to more than just the CTGAN model. I will move this issue into our main SDV library so that we can track this for a variety of models -- including CTGAN, GaussianCopula, etc.

[2022-07-12 16:54] npatki commented on #179
Thanks for filing this feature request. We'll keep this open for tracking as we prioritize and make progress on it.

As somewhat of a workaround, you can currently use `verbose=True`, which will print out values for every epoch. That way, you can have at least some visibility on the progress.

[2022-07-12 17:23] npatki commented on #213
Hi @limhasic, thanks for the details. The `set_random_state` should be working for version 0.5.1. And unfortunately, I am unable to replicate the issue using some demo datasets.

In order to have replicable results, it is necessary to instantiate the object, refit and resample the data. In the below code, `sample_1` and `sample_2` should be the same while `sample_3` should be different.

[code]

C

[2022-07-12 18:10] npatki commented on #201
Hi @NadeemNicoR, the CTGAN library only has releases up to `0.5.1`. From your code examples, you seem to be using the CTGAN model through the SDV library, so I will move this issue into the SDV GitHub repo.

This is a strange bug indeed! I have been attempting to replicate it on the latest SDV version, `0.15.0`, and have been unsuccessful so far. I've been checking up to 100 epochs for any deviati

[2022-07-12 18:28] davebulaval commented on #218
I can open a PR with the fixes on TVAE to use protected-like attributes.

[2022-07-13 08:50] WYF-GAN opened #229 "Constraints set up"
Hi professor,
I can run the CTGAN and would like to ask question about constraints setup.

### Problem description
I have seen the advanced usage of the guide. But still want to know if we can set advanced constraints other than min or max boundaries. For example, can we set variable A + variable B = constant value or range, namely, A ranges from 0 to 500, B ranges from 0 to 400, can we set the co

[2022-07-13 14:33] samgohan opened #230 "Surprising results on a simple dataset"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.5.1
* Python version: 3.8.13
* Operating System: Windows 10

### Problem description

I tried to use the GAN to get synthetic data on a very simple dataset : 2 continuous variables (X,Y). But, unlike others generators, the results a

[2022-07-13 15:51] npatki commented on #229
Hello @WYF-GAN, nice to meet you.

There are many constraints options that are available. Besides min/max boundaries, there are a number of other [Predefined Constraints](https://sdv.dev/SDV/user_guides/single_table/handling_constraints.html#predefined-constraints) that you can use. I would first check to see if any of these can suit your needs. If not, you can implement more complex logic by writ

[2022-07-13 18:09] npatki commented on #230
Hi @samgohan, nice to meet you. Appreciate the detailed code snippets and data.

You may need to increase epochs. Here is my result of using `CTGANSynthesizer` on your data with `epochs=2500`.

![image](https://user-images.githubusercontent.com/3227804/178783698-cde48380-0546-4650-9391-0907d9189fe3.png)

Would you consider the above result unsatisfactory? Classifying it as "bad" or "awful" can be

[2022-07-13 18:47] npatki commented on #173
Would you be able to try this again with the latest version of CTGAN? I tried running your code and plotting correlations. The correlations look similar to me.

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/3227804/178808163-8054c758-228f-488d-bb48-44e64780fabf.png">

[2022-07-13 19:00] npatki commented on #173
Hi @Kaabachi, thanks for filing. I am seeing some improved results with the newest version of CTGAN, particularly if I increase the number of epochs. Below is an example of running with `2500` epochs.

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/3227804/178810480-7ece437c-ab4f-4bd4-ace0-82daab7a2b90.png">

Another challenge might be the fact that there are only 2 u

[2022-07-13 21:57] npatki commented on #230
@samgohan No problem! Thanks for sharing your results.

I would recommend using the SDV's GaussianCopula model instead of CTGAN. The default settings of GaussianCopula specifically work for simple data like yours.

Generally, defaults are not guaranteed to be optimal for every dataset, as there are many different factors to consider. But we will always expose and give you control over the paramete

[2022-07-14 19:25] npatki commented on #216
Hello, thanks for catching this. Note that the RDT API is changing as we integrate with the new RDT 1.0+

Seems like the default for all transformers is `drop=True`, so this may be working as intended even though the usage isn't quite correct. However, we'll clarify the original intent first in case this is a bug.

[2022-07-14 19:34] npatki commented on #223
Hi @oriel9p, nice to meet you. I can confirm that there are many warnings when fitting the model. Many are repeated. There seem to be only 2 unique sources that I'm pasting below:

[code]

For the first (`ConvergenceWarning`), we are using #202 to track the possibility of silencing these if they do not impact the end use.

For the second (`SettingWithCopyWarning`), the change may require some more

[2022-07-14 19:34] #223 closed

[2022-07-14 19:41] davebulaval commented on #215
From my experimentation, it seems like it would impact the mode computing.

[2022-07-15 19:37] Sun-Haotian opened #231 "Surprising results on a simple regression dataset"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.5.1
* Python version: 3.7.13
* Operating System: Google Colab

### Problem description

I am trying to use CTGAN to generate some synthetic data for my regression dataset.  The full dataset has 159 data points and I have manually sp

[2022-07-19 09:38] AndresAlgaba opened #233 "Redundant whitespace in the demo data"
Hi everyone! First of all, thanks for all the work on this fantastic library and the Synthetic Data Vault in general :). I believe I found a minor bug in loading the demo data set and propose a quick fix for which I will submit a PR.

### Environment Details
* CTGAN version: latest (0.5.2.dev1)
* Python version: 3.9.7
* Operating System: Windows

### Error Description
When running the usage exampl

[2022-07-19 11:53] AndresAlgaba opened #235 "Conditional sampling and cross-entropy loss"
Hi everyone! I have a question/problem regarding the conditional sampling in the ```sample``` method of the ```CTGANSynthesizer``` using the ```condition_column``` and ```condition_value``` arguments. For example, derived from the Usage Example in the README:
[code]
Note that the whitespace in ```condition_value=' Male'``` is intentional, see #233 and #234.

### Environment Details
* CTGAN version

[2022-07-19 14:11] AndresAlgaba commented on #235
Upon further inspection, I believe there may be a problem in:
[code]
https://github.com/sdv-dev/CTGAN/blob/5358af7cd653eb0c3a96f9671c90fbdde9672f45/ctgan/synthesizers/ctgan.py#L443

Any combination of ```condition_column``` and ```condition_value``` leads to the same ```global_condition_vec``` with a one as the first element and zero for all the others. I will further look into this.

[2022-07-19 14:39] AndresAlgaba commented on #235
Update: I believe the problem may reside in the ```generate_cond_from_condition_column_info``` of the ```DataSampler```.
[code]
https://github.com/sdv-dev/CTGAN/blob/5358af7cd653eb0c3a96f9671c90fbdde9672f45/ctgan/data_sampler.py#L153

Specifically, the ```_discrete_column_matrix_st``` attribute is initialized as:
[code]
And does not seem to be changed afterward.

Therefore:
[code]
Will always retu

[2022-07-19 15:58] npatki commented on #233
Hi @AndresAlgaba, nice to meet you and thanks for bringing this to our attention.

The root cause was probably the way this original data was exported. While your suggestion would solve the issue for this particular demo, we'd prefer to fix the format of the underlying data itself. We can apply the same principle to any future demo datasets that may be slightly off a true csv format (in different

[2022-07-19 21:28] npatki commented on #235
Hi @AndresAlgaba, thanks for filing and looking to this. I just wanted to confirm that we've seen this.

We can update this issue when we have more bandwidth to debug. If you do end up finding the root cause, please let us know!

BTW What is your overall use case for conditional sampling / synthetic data? Even if this conditional vector manipulation may not be working as intended, you can still us

[2022-07-20 11:57] AndresAlgaba commented on #233
Hi @npatki, nice to meet you too! It's my pleasure; thanks to the team for the effort on SDV and the quick response.

Yes, I agree. Is there anything which I can help with? I have already opened a PR.

[2022-07-20 12:30] AndresAlgaba commented on #235
Hi @npatki, no problem, and thanks for the confirmation!

Besides the change from ```_discrete_column_matrix_st``` to ```_discrete_column_cond_st``` (as mentioned above):
https://github.com/sdv-dev/CTGAN/blob/5358af7cd653eb0c3a96f9671c90fbdde9672f45/ctgan/data_sampler.py#L153

I have found that proper sampling requires the generator to be put in evaluation mode:
[code]
I will investigate why this

[2022-07-21 14:51] npatki commented on #200
Closing this issue since we've answered the question. Please feel free to reply if there is more to discuss and I can reopen the issue.

[2022-07-21 14:51] #200 closed

[2022-07-21 14:52] npatki commented on #214
Hi @limhasic, I'm closing off the issue since've we've answered your question.

Please feel free to reply if there is more you'd like to discuss and I can reopen the issue.

[2022-07-21 14:52] #214 closed

[2022-07-24 19:10] AndresAlgaba commented on #233
Okay, thanks, and no problem!

[2022-07-25 08:38] AndresAlgaba commented on #169
Hi everyone, I believe that the initial solution from @tejuafonja is correct. See #236 for more details on this.

[2022-07-25 14:34] WYF-GAN commented on #229
Dear authors,
Thanks for your response. I have checked the "Custon Constraint" and run the demo, however, "create_custom_constraint" can not be found from "sdv.constraints", do you know why?
Regards,
Yufei

[2022-07-25 15:23] npatki commented on #229
Hi @WYF-GAN, the constraints API was updated recently. Can you double-check to see if you have the latest version of SDV installed?

[code]

[2022-07-25 20:50] npatki commented on #231
Hi @Sun-Haotian, thanks for the detailed issue, code snippets and data.

The CTGAN model is designed & tested on enterprise datasets that contain records from real-world user behavior or natural events.

I’m curious how you are identifying that your dataset is “simple”. It contains several properties that may not be suitable for CTGAN —

1. There are not that many rows.
2. Judging by the names and

[2022-07-25 20:52] npatki commented on #205
Hello, it seems like this issue may be getting stale. I'll close it off since we've answered your question. Feel free to reply if you have more questions and I can reopen the issue for continued discussion.

[2022-07-25 20:52] #205 closed

[2022-07-25 20:52] npatki commented on #212
Hi @Mfk98, I'll close off this issue since we've answered the original question. Feel free to reply if you have any other follow ups and I can reopen the issue for more discussion.

[2022-07-25 20:52] #212 closed

[2022-07-25 20:54] npatki commented on #213
Hi @limhasic, have you gotten a chance to check this on the latest version? I'll close off the issue as obsolete, since it seems as if the more recent versions of CTGAN have fixed this issue.

Please reply if you see this bug persist and I can reopen the issue for continued investigation.

[2022-07-25 20:54] #213 closed

[2022-07-26 00:00] limhasic commented on #213
Thank you for your interest.

[2022-07-26 19:24] Sun-Haotian commented on #231
Hi @npatki, thank you very much for your reply.  I will answer your questions in detail and propose some other thoughts based on my observations since my last post.

**_Was this dataset created using a formula or manual properties? What problem are you hoping to solve using the synthetic data?_**
Generally, this dataset is real-world civil engineering test data thus it is natural.  I am trying to

[2022-08-04 18:38] jinlow commented on #164
Hello curious if there was any workaround for this problem? I am also experiencing the same issue.

[2022-08-08 19:27] npatki commented on #173
From trying out CTGAN on a variety of datasets, we are seeing that it is generally converging to better and better quality correlations, especially for continuous data. Since your example is for low cardinality, discrete data, I'll make this issue more specific to that. I suspect that this may work better if (a) it is modeled as categorical or (b) if we pre-process such data to add noise.

[2022-08-08 19:29] npatki commented on #230
Hello, I'll close this issue off since it has been stale for a few weeks and we've discussed your initial question. Please feel free to reply if there is more to discuss and I can reopen the issue.

[2022-08-08 19:29] #230 closed

[2022-08-08 19:32] npatki commented on #229
Hello, I'll close this issue off since it has been stale for a few weeks.

If you are continuing to observe an error, could you file an [issue in the main SDV library](https://github.com/sdv-dev/SDV/issues/new/choose)?

[2022-08-08 19:32] #229 closed

[2022-08-08 20:41] galletas1712 opened #240 "Hyperparameters for benchmark datasets"
Hi,

Are the hyperparameters for each dataset the same in the benchmark in the paper? I’m getting good results for the adult dataset, but for covtype and credit I am unable to reproduce the result.

Thanks!

[2022-08-09 23:16] katxiao commented on #151
Resolved by #239 by @mfhbree

[2022-08-09 23:16] #151 closed

[2022-08-18 07:30] martabatlle94 opened #241 "Quick usage not working"
Hi,

I have only followed the steps I found in the quick usage page: https://sdv.dev/SDV/user_guides/single_table/ctgan.html

I installed ctgan and imported it. I also import my dataset (df). Then I run:

model = CTGAN()
model.fit(df)

And I get an error: TypeError: __init__() takes 1 positional argument but 2 positional arguments (and 3 keyword-only arguments) were given

I get the same error usi

[2022-08-19 21:43] npatki commented on #241
Hi @martabatlle94,

Unfortunately, I am not able to replicate what you're observing. It would be great if you can share the full stack trace and any other relevant parts of your code (import statements, the way you're loading in your dataset, etc.).

It would also be helpful to check the following items --

1. Installation: What version of CTGAN and SDV do you have installed?
[code]

2. Demo Datas

[2022-08-24 15:02] daniellawton99 commented on #138
Any insights / progress on this one?
Thanks!

[2022-08-31 19:35] npatki commented on #138
The initial comment prints out only the first 20 rows of synthetic data for manual inspection. I am unable to replicate this issue if I take a look at the overall distribution of the entire dataset.

Here is what I see if I treat both columns as categorical:
<img width="1342" alt="image" src="https://user-images.githubusercontent.com/3227804/187766185-63fd32e2-d752-44e5-a2c3-12ba941b30bb.png">

He

[2022-09-14 18:28] npatki commented on #241
Hi @martabatlle94, I'm closing this issue off as unable to replicate.

If you're still continuing to experience this bug after checking the installation and demo dataset, please feel free to reply and I will re-open the issue to investigate.

[2022-09-14 18:28] #241 closed

[2022-09-14 18:38] npatki commented on #138
Hi everyone, I'm going to close this issue off as stale since it does appear the correlations are being captured. As the original issue was filed over a year ago, perhaps there was a latent bug that has since been resolved?

Generally speaking, it's easier to model categorical columns over numerical ones, as there are a set # of values (categories). With numerical data, models have to expand and l

[2022-09-14 18:38] #138 closed

[2022-09-16 20:18] amontanez24 opened #243 "Rename synthesizers"
### Problem Description

The new version of `SDV` will use the `Synthesizer` suffix, so to avoid confusion, we should rename the classes in `ctgan`.

### Expected behavior

- Rename `CTGANSynthesizer` class to `CTGAN`
- Rename `TVAESynthesizer` class to `TVAE`

[2022-10-02 09:46] AndresAlgaba opened #246 "FutureWarning in data_transformer with pandas 1.5.0"
### Environment Details

Please indicate the following details about the environment in which you found the bug:

* CTGAN version: master branch
* Python version: 3.9
* Operating System: Windows

### Error Description
With pandas version >=1.5.0, I get the following FutureWarning when sampling:

```ctgan\data_transformer.py:188: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will at

[2022-10-04 13:30] dsrishti opened #249 "SDV Compatibility with a specific CTGAN and Torch versions"
Hi Team,

Is there an SDV version that works with ctgan 0.4.3 and torch 1.12.1+cu102? I am asking this because we want an SDV version that can work along with [OpenDP ](https://github.com/opendp/smartnoise-sdk)package

[2022-10-06 20:49] amontanez24 commented on #243
resolved by #244

[2022-10-06 20:49] #243 closed

[2022-10-07 07:18] nejadhav opened #250 "Synthetic data has 25%-50% repeated values"
### Environment details

If you are already running CTGAN, please indicate the following details about the environment in
which you are running it:

* CTGAN version: 0.5.1
* Python version: 3.9.12
* Operating System:Windows 10

### Problem description

Every time I try to generate synthetic data, I get 25% to 50% repeated values. I had 120 data points & I have generated 1200 data points using CTGA

[2022-10-11 14:50] npatki commented on #250
Hi @nejadhav, nice to meet you! Thanks for sharing the details. Just to make sure I'm understanding correctly, I see that in the synthetic data stats:
- For `YEAR`: The 75th percentile and MAX are the same, meaning that 25% of the data has the same value
- For `clm1` and `clm2`: The MIN and 25th percentile are the same, meaning 25% of the data has the same value

Is this correct?

The CTGAN does w

[2022-11-02 10:03] AndresAlgaba commented on #213
Hi there! I ran into the same problem using ctgan version 0.6.0. So the problem seems to persist. I use the following code:

[code]
which returns ``False``.

[2022-11-02 12:09] AndresAlgaba commented on #213
I have created a PR in the RDT library (https://github.com/sdv-dev/RDT/pull/575). If the reproducibility is fixed there, some fix is still needed here to feed the ``random_state``.

[2022-11-09 06:11] ManikantaNT opened #252 "spark implementation of CTGAN or how we can decrease the model training because while fitting with more than 2lac rows of data training time takes alot"
### Problem Description

### Expected behavior

### Additional context

[2022-11-17 02:23] ayyucedemirbas opened #254 "Setting upper and lower bounds for features to generate"
### Problem Description

I try to generate values on Pima Indians Diabetes Database and the model generates strange values. No one, for instance, can become pregnant -2 times or have a blood pressure reading of -32.

### Expected behavior

If the users could provide ranges for each column (feature) to generate values between these upper and lower constraints before fitting the model, that would be

[2022-11-17 15:27] npatki commented on #254
Hi @ayyucedemirbas, nice to meet you! If this is your first time interacting with the `CTGAN` model, I would recommend heading over to the `sdv` library. The SDV library provides convenient wrappers around the core, CTGAN model which should solve the issue you are seeing.

[Here is a user guide](https://sdv.dev/SDV/user_guides/single_table/ctgan.html) that you can use to start with.

In the SDV, w

[2022-11-18 18:28] ayyucedemirbas commented on #254
Nice to meet you too! I'll take a look at the SDV. Thank you so much!

[2022-11-18 18:28] #254 closed

[2022-11-22 10:45] shimonrm opened #255 "sdv and ctgan not synchronized w.r.t. CTGAN()"
While ctgan.CTGAN() has been updated to 0.6.0, sdv.tabular.CTGAN still wraps version 0.5.2.

[2022-11-22 17:53] npatki commented on #255
Hi @shimonrm, thanks for the heads up!

Our ecosystem is set up in a way that allows us to update our libraries separately. The only major change between `0.6.0` and `0.5.2` is renaming a few classes. So rest assured that you aren't missing out on any core functionality if you're using CTGAN through the `sdv.tabular` wrapper!

A future version of SDV should correctly wrap around CTGAN `0.6.0`. I'l

[2022-11-22 18:46] npatki commented on #255
Update: I've filed an issue in the SDV library to track this just in case

https://github.com/sdv-dev/SDV/issues/1112

You can follow along in the issue for a fix. In the meantime, I'll close this one as resolved. Please feel free to reply if there is anything more to discuss and I can reopen the issue.

[2022-11-22 18:46] #255 closed

[2022-11-24 14:39] PJPRoche opened #256 "Ability to provide user-defined callback function to CTGANSyntesizer"
### Problem Description

Only in verbose model can you see Generator and Discriminator loss metrics at the end of each epoch. This is useful for a basic visual confirmation that the model is running but does not allow for detailed quantitative inspection of the model as it is training.

### Expected behavior

It would be helpful if the user could supply a function, for example passed to the CTGANS

[2022-11-29 00:24] npatki commented on #256
Hi @PJPRoche, thanks for filing. The idea makes sense to me, and I agree we'd have to think more about the workflow and API part.

I believe we have an existing issue about callbacks here: https://github.com/sdv-dev/SDV/issues/460

This would involve a larger refactor of the existing CTGAN model, so we haven't been able to add it to our roadmap yet. But every new issue, use case and request that w

[2022-11-29 00:24] #256 closed